[2016-01-14 21:17] JamesHenry opened #1 "TypeError being thrown in no-octal-escape rule"
Hi @nzakas,

Thanks so much for getting the ball rolling on this!

I have really enjoyed (and benefitted from) using ESLint with a large Babel-transpiled codebase and it has been flawless. That codebase is now being migrated to TypeScript and I really hope to continue using ESLint, so you may see some issues on here from me.

As a newcomer to world of JS ASTs and linter design, it may take a littl

[2016-01-14 21:36] JamesHenry commented on #1
After monkey patching for the sake of getting past those TypeErrors, it is clear that the same behaviour exits for `false` and `null` as well - they are both coming through as strings, like `'true'` above.

[2016-01-14 21:51] JamesHenry opened #2 "Cannot find module 'acorn-jsx/inject' - dependency missing"
(Note: I am using ESLint via eslint-loader for webpack)
ESLint: 1.9.0
eslint-loader: 1.1.1
typescript-eslint-parser: 0.1.0-alpha-1

`acornJSX = require("acorn-jsx/inject")` is part of the var declaration at the top of parser.js but acorn-jsx is not a dependency of the project.

It doesn't seem like `acornJSX` is actually used anywhere, would you like a PR with the require statement removed?

[2016-01-14 22:39] JamesHenry opened #3 "no-unused-vars - false positive for class props defined via public/private keywords in constructor"
(Note: I am using ESLint via eslint-loader for webpack)
ESLint: 1.9.0
eslint-loader: 1.1.1
typescript-eslint-parser: 0.1.0-alpha-1

Take this valid ES2015 code:

[code]

In TypeScript, we can make use of the `public` or `private` keywords to skip having to manually assign the constructor param to the instance, so it becomes:

[code]

Currently the second version will erroneously produce a `no-unus

[2016-01-14 22:56] JamesHenry opened #4 "Type annotations being caught by space-infix-ops rule"
(Note: I am using ESLint via eslint-loader for webpack)
ESLint: 1.9.0
eslint-loader: 1.1.1
typescript-eslint-parser: 0.1.0-alpha-1

The following code shows how a variable, `foo`, can be explicitly annotated with type `string`
`let foo: string = 'bar'`

Currently this causes the `space-infix-ops` rule to error (if enabled).

Re-writing to:
`let foo : string = 'bar'`

...does fix the eslint error,

[2016-01-14 23:21] JamesHenry opened #5 "ESLint comment blocks will not work yet"
(Note: I am using ESLint via eslint-loader for webpack)
ESLint: 1.9.0
eslint-loader: 1.1.1
typescript-eslint-parser: 0.1.0-alpha-1

I have a codebase which was being transpiled with babel and being linted by eslint using the babel-parser.

After migrating the code to TypeScript and replacing the babel-parser with the typescript-eslint-parser, I have noticed that eslint comment blocks are no longer

[2016-01-15 17:32] nzakas commented on #5
This is expected right now because we are not yet including comments in the AST. I'll leave this open to track.

[2016-01-15 17:34] nzakas commented on #2
Whoops, yeah. That should be removed.

[2016-01-15 19:43] JamesHenry opened #6 "Tests fail because of espree not being available"
I was simply trying to put together a PR to address https://github.com/eslint/typescript-eslint-parser/issues/2, but the tests are unable to run because of espree not being available in the project.

All I did was fork the repo and run `npm t`

[code]

[2016-01-15 19:44] JamesHenry commented on #6
Whilst this is a simple enough error, I am unclear as to whether the dependency is missing, or whether the seeming requirement for it is erroneous (as is the case for #2)

[2016-01-15 20:01] JamesHenry opened #8 "Lint script fails because of issues in eslint-config-eslint"
I have submitted a request to have eslint-config-eslint republished to npm to include the already-merged fix: https://github.com/eslint/eslint/issues/4970

I will submit a PR with the version bump to close this issue, as and when it is available.

[2016-01-15 22:15] nzakas commented on #6
It shouldn't be required, that's definitely a mistake.

[2016-01-15 22:18] nzakas commented on #4
Rules are going to behave strangely with TypeScript for a while; it's too early to start getting into making all the rules work (or making any changes to allow that).

In any event, there's nothing the parser could do to fix this, it would have to be some option in ESLint. Once the parsing is working correctly and the AST is filled out completely, we can circle back and look at what (if anything)

[2016-01-15 22:18] #4 closed

[2016-01-15 22:18] #2 closed

[2016-01-15 22:19] nzakas commented on #3
See comments on #4

[2016-01-15 22:19] #3 closed

[2016-01-15 22:21] nzakas commented on #1
You're correct, this looks like a bug. You can always double-check what sort of nodes should be produced using http://eslint.org/parser/.

[2016-01-15 22:24] JamesHenry commented on #4
Ok, that makes sense. Are there any resources you can point me at to get up to speed more quickly with how the AST is built, terminology etc?

I am super keen to help ESLint be a viable option for Angular 2 development, in particular, as I think we will be seeing a whole new wave of devs/teams embracing TypeScript, but I currently have no experience with linters/ASTs and would appreciate any ProTi

[2016-01-15 22:25] JamesHenry commented on #1
Ah that's a great resource thanks. In which case I should be able to put together a PR for this.

[2016-01-15 22:30] nzakas commented on #1
Awesome! I'm swamped getting ESLint 2.0.0 finished up, but once that's done (another week or two, hopefully), I'll have more time to look back at this project. In the meantime, feel free to keep filing issues. This level of detail is great.

[2016-01-15 22:31] ilyavolodin commented on #4
[SpiderMonkey Parser API](https://developer.mozilla.org/en-US/docs/Mozilla/Projects/SpiderMonkey/Parser_API)
[Espree demo](http://eslint.org/parser/)
[Working with ESLint Rules](http://eslint.org/docs/developer-guide/working-with-rules)
That should get you started.

[2016-01-15 22:32] JamesHenry commented on #4
Many thanks, @ilyavolodin!

[2016-01-15 22:53] JamesHenry commented on #8
Ah, it turns out this PR https://github.com/eslint/eslint/pull/4604 was merged in to eslint-config-eslint. allowAfterThis is therefore being used in this project, but it is an ESLint 2.x only option.

Are you happy for me to submit a PR bumping eslint-config-eslint for this project to 2.0.0 and setting eslint to 2.0.0-beta.1?

You rightly said that this project won't be a priority until 2.x is sta

[2016-01-15 23:00] JamesHenry commented on #1
Great, thanks for letting me know. I will do!

Good luck with 2.x!

[2016-01-16 15:05] JamesHenry commented on #8
(Sorry, didn't mean to click close)

[2016-01-16 16:55] nzakas commented on #4
https://GitHub.com/ESTree/estree

[2016-01-16 18:04] alberto commented on #4
Thanks @nzakas, that's super useful!

[2016-01-16 23:23] mysticatea commented on #4
http://astexplorer.net/

[2016-01-16 23:43] JamesHenry commented on #4
:+1:

[2016-01-17 17:14] #8 closed

[2016-01-18 22:00] JamesHenry opened #10 "Lint script fails for various reasons"
We are making progress, slowly but surely, towards getting this repo ready for active development! This issue is to track changes necessary for the project to be able to lint itself successfully.

There are currently a number of reasons why the lint script is failing, including:

- Missing semicolons
- Formatting issues
- Unused code
- Missing JSDoc blocks on existing functions

Obviously some of

[2016-01-19 00:13] nzakas commented on #10
Sure! To be honest, I wasn't even going to tackle getting linting to pass until this was further down the road, but you're right that it would be confusing for contributors. So definitely :+1:.

[2016-01-19 10:13] JamesHenry commented on #10
Yeah, exactly!

As I mentioned here https://github.com/eslint/typescript-eslint-parser/pull/11#discussion_r50093779, I am trying to approach in the most efficient way possible and go for low-hanging fruit for an "outsider" to the project.

Having the linting working also massively helps future PRs because the code style in this project is quite different to my personal one, for example. This helps

[2016-01-20 22:46] #10 closed

[2016-01-25 18:12] isiahmeadows opened #12 "Make TypeScript a peer dependency"
Given that some people like riding the edge with TypeScript (e.g. depending on the latest stable or beta version), but others don't always keep up that much (like in some larger projects), it would be nice if, instead, this had TypeScript as a peer dependency instead. Also, the compiler API itself has been pretty consistent across versions, I believe (or it wouldn't be as common to depend on TypeS

[2016-01-25 18:45] nzakas commented on #12
I'll be honest, peer dependencies always make me cringe now that npm forces users to manually install. However, if you're saying that this expected in the TypeScript tooling universe, I can live with it.

[2016-01-26 11:28] isiahmeadows commented on #12
@nzakas With respect to the TypeScript compiler itself, it generally is either that, like TSLint or [ts-node](https://www.npmjs.com/package/ts-node), or accepting a custom TypeScript compiler as an option (which is more common), like Atom TypeScript, gulp-typescript, or tsify. Some do both (which is the case for both TSLint and ts-node). The reason why several accept a module reference is because

[2016-02-02 22:22] nzakas opened #13 "Development Plan"
- [x] Phase 1: Full ES6 support, stripping out all TypeScript-specific syntax.
- [x] Phase 2: Add JSX support.
- [x] Phase 3: Add support for attaching comments.
- [x] Phase 4: Add support for type annotations (try to mimic [what Flow uses](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/estree/flow.d.ts) and use the [type annotations extension](https://github.com/estree/estree/pull

[2016-02-26 08:37] DatenMetzgerX opened #14 "Student project"
Hy everyone

I started with my master degree and we are obligated to write at least two project thesis (and at last the master thesis). I want to focus my project thesis on improving the developer tools for javascript and compile to javascript languages. My first idea was to implement more complex linting rules for javascript, but eslint already supports the most of the rules I came up with. At th

[2016-02-26 08:44] BYK commented on #14
Hi @DatenMetzgerX - glad to hear you are interested. The project is most definitely not abandoned and we are looking for contributors/help. You can see https://github.com/eslint/typescript-eslint-parser#contributing and referenced document to how to get started. We also have a gitter.im chat room (eslint/eslint) if you want to come by and a mailing list.

[2016-02-26 10:47] JamesHenry commented on #14
Hey guys,

Just wanted to provide some extra context in addition to what @BYK mentioned...

ESLint 2.x has been a massive effort, and as such has been the primary focus of core contributors to the project. Now that it is out the door, I am hopeful that we can really get the ball rolling with this project (as a regular TS user myself).

I have been working hard to contribute to this repo wherever p

[2016-02-26 16:35] nzakas commented on #14
Yeah, sorry, between ESLint 2.0.0 and some health problems, I've not been able to get back around to this. It's still on my list, hopefully soon!

[2016-02-26 22:05] #6 closed

[2016-02-26 22:05] nzakas commented on #6
Okay, basic tests should be fixed. I don't have all of the ones we'll need eventually, but this should at least unblock further development.

[2016-02-26 22:08] #12 closed

[2016-02-26 22:11] JamesHenry commented on #6
Thanks a lot! Just to confirm, is this fixed in the sense of being runnable, or also passing?

Look forward to contributing more to this over the coming weeks!

[2016-02-26 22:18] nzakas commented on #13
I think phase 1 might actually be complete, but need to double-check.

[2016-02-26 22:29] nzakas opened #15 "TypeScript upgrade breaks the world"
It looks like there were some changes in the TypeScript output between 1.6.x and 1.8.x that are causing identifiers to be labeled as keywords in the output. As such, most tests are failing right now.

I'm looking into this.

[2016-02-26 22:37] nzakas commented on #15
Ran out of energy for this. It looks like the way tokens are represented changed, so the section that translates tokens needs to be updated to account for that. Basically, this function needs to be updated:

https://github.com/eslint/typescript-eslint-parser/blob/master/lib/ast-converter.js#L278

If you run the tests now, you'll get a bunch of errors showing `Keyword` nodes that should be `Identif

[2016-02-27 16:21] nzakas commented on #6
Runnable. See https://github.com/eslint/typescript-eslint-parser/issues/15. Would love since help on that.

[2016-02-28 14:39] JamesHenry commented on #15
Thanks a lot for starting this, Nicolas. I am trying to investigate a bit today in between other things.

So far I have managed to determine that this commit is the point at which TypeScript 1.7.x breaks the tests for this project: https://github.com/Microsoft/TypeScript/commit/85f0240cea7b7e888111224d1db4d02cb440b131

[2016-02-28 15:03] JamesHenry commented on #15
Just a guess at this point, but I think our reliance on internal SyntaxKind codes a point of potential fragility right now. The authors (perhaps understandably) don't include such internal changes in release notes.

Digging into that commit above I can see that the `lib/typescript.d.ts` file for typescript changed here: https://github.com/Microsoft/TypeScript/commit/b24c3a7aff3bf6e50a43256c72ae7a6

[2016-02-28 15:22] JamesHenry commented on #15
Sure enough, now that I have gone through the diff on that TS commit and amended the code ranges which are checked in `ast-converter.js`, all the tests pass. I ran them on 1.7.3 and then on the latest release, 1.8.2, and it works on both of them.

Given this change unlocks the ability for us to start development with a working test suite on the latest version of TS, I figured it was worth submitti

[2016-03-02 16:25] #15 closed

[2016-03-04 20:00] nzakas commented on #14
The outstanding issues with testing have been completed, so it's a good time to start with other contributions.

Not right now. The goal is first to get this parser ready for use, and then investigate what sort of changes (if any) might be made to the ESLint core. I think the logical next step after making this parser work is to create a TypeScript plugin with TypeScript-specific rules.

[2016-03-04 20:03] nzakas opened #18 "Implement JSX syntax"
Phase 2 is to add JSX syntax support into this parser. This would involve:

1. Converting the TypeScript JSX syntax tree into an ESTree-compatible one.
1. Convert the TypeScript tokens into Esprima-style tokens.
1. Making the result pass the JSX tests that are already tests in tests/fixtures/ecma-features/jsx.

@JamesHenry are you interested in taking a stab at this?

[2016-03-04 20:33] JamesHenry opened #19 "ParameterDecorators throwing parse errors"
#### Environment:
**eslint**: `2.2.0`
**typescript-eslint-parser**: `master` (npm publish is needed to update the project)

---

#### Issue:
Currently when parsing a file which contains a `ParameterDecorator` eslint will return `Parsing error: Unexpected token`. This is not the case for ClassDecorators.

---

#### Background to my use case:

ParameterDecorators are super useful in an Angular world

[2016-03-04 20:35] JamesHenry commented on #13
Yes it is definitely starting to come together!

I was able to submit a fix for the known issue #1, and retried running it on my large TypeScript + Angular 1.x app again.

Seems like ParameterDecorators are causing `Parsing error: Unexpected token` right now. I have submitted an issue for that here: https://github.com/eslint/typescript-eslint-parser/issues/19

I make heavier use of them, so the ou

[2016-03-04 21:09] JamesHenry commented on #18
Thanks a lot for mapping out those steps, yes I'll try and find some time this weekend!

[2016-03-04 21:10] low-ghost opened #20 "Type Casting appears to consistently cause errors"
I'm using eslint 2.2 and this repo from master. It seems like several rules thow errors due to type casting.

For instance this code:
[code]
results in this stack trace:
[code]
while removing the casting (and jumping through a few typescript hoops) allows the linter to execute and report normal errors. Can give more info if it'd be helpful. Thanks!

[2016-03-04 21:11] low-ghost commented on #20
on other occasions, different rules have thrown, presumably before this one and due to an underlying problem with the AST.

[2016-03-04 21:54] JamesHenry commented on #19
I noticed that TypeScript is the parser that seems to be able to generate an AST for this:
http://astexplorer.net/#/UIZKxfXxum

Does that suggest that espree itself will need an update? Or does it just require a bit more work to remove the ParameterDecorator syntax when parsing in typescript-eslint-parser?

[2016-03-05 00:52] Gheoan commented on #13
Where do typescript only features fit in this plan (ex: [class members accessibility](https://github.com/Microsoft/TypeScript/blob/master/doc/spec.md#822-accessibility))?

[2016-03-05 16:18] #1 closed

[2016-03-05 16:20] nzakas commented on #20
Type casting is not yet supported by this parser, so this is expected.

[2016-03-05 16:22] nzakas commented on #13
@Gheoan Phase 5. That's where we tackle all the other syntax not already addressed.

[2016-03-05 16:23] nzakas commented on #20
Please see https://github.com/eslint/typescript-eslint-parser/issues/13 for the development plan.

[2016-03-05 16:23] #20 closed

[2016-03-05 16:28] nzakas commented on #19
This is invalid JavaScript syntax, so Espree is doing the right thing.

Probably this. I wasn't aware of this syntax when I did my first pass, so it's probably incorrectly transforming that parameter.

[2016-03-05 17:16] JamesHenry commented on #18
I have made some progress on this, but I have some questions on how to approach some of the conversions. What is the best way for us to chat about that? Gitter?

[2016-03-06 08:56] ranzwix opened #21 "false is not parsed as expected"
**typescript-eslint-parser version**: 0.1.0-alpha-1

Hi,

When I parse the string "false" (inside a js file), I get the AST
[typescript-eslint-parser-result.txt](https://github.com/eslint/typescript-eslint-parser/files/160244/typescript-eslint-parser-result.txt)

**Where the actual AST should be : **

[eslint-parser-result.txt](https://github.com/eslint/typescript-eslint-parser/files/160245/eslint

[2016-03-06 15:50] JamesHenry commented on #18
There seem to be some fundamental issues in our more "interesting" jsx test at the moment, and I have reported the first one here: https://github.com/Microsoft/TypeScript/issues/7410

[2016-03-06 16:22] nzakas commented on #21
Duplicate of #1. Already fixed on master.

[2016-03-06 16:22] #21 closed

[2016-03-06 16:23] nzakas commented on #18
If I'm on gitter, yes, though I'd prefer such issues be documented here so we have a good record.

[2016-03-06 17:17] JamesHenry commented on #18
Great point - if I have concrete questions I will post them here. I am going to stop now as this has ended up dominating my weekend, but I have made a lot of progress (as much as anything in my personal understanding of eslint internals, ASTs and tsc output :) ).

The current status is:
- 3 tests are unrunnable due to the issues reported to TS above
- 3 remaining non-passing tests

I'll keep you u

[2016-03-07 16:06] nzakas commented on #18
Awesome, thanks so much!

[2016-03-09 15:20] DatenMetzgerX commented on #14
Hy everyone

Thanks a lot for the update. We (Myself and my supervisor) decided to focus the work on plain javascript. Working on this project was no option for my supervisor as it is unclear what my contribution would be and what has been contributed by others.

But I'm still quite interested in the project and will follow the progress you made. I wish you good luck and maybe our ways cross again

[2016-03-09 15:20] #14 closed

[2016-03-09 16:13] nzakas commented on #18
If you manage to get the three failing tests working, I'd say just remove the tests that fail due to the TS issues and we can handle those as bugs.

[2016-03-10 22:37] JamesHenry commented on #18
Just noting down this third TS issue here for reference: https://github.com/Microsoft/TypeScript/issues/7471

[2016-03-11 17:20] valorkin commented on #19
may be relative to this, may be not
this use case failing too:
[code]
working on it

[2016-03-11 20:29] valorkin opened #24 "Upgrade of dependencies needed"
- all deps outdated
- packages version are mutable
- TS version is out dated

[2016-03-11 20:44] valorkin opened #25 "Handle AsExpression in TS when treated as type hint"
In typescript you can give a hint to tsc about variable type
using keyword `as`

[code]

currently it throws an exception

[2016-03-11 21:49] nzakas commented on #25
This is expected because we haven't started implementing TypeScript-specific syntax yet. Happy to get a PR, though. :)

[2016-03-11 22:01] nzakas commented on #25
In order to address this, we need to determine what type of AST node should represent this construct.

If I understand this correctly, the `as` operator is a casting operation, so I think we should target something that is similar to what Flow does. Here's the definition for Flow type cast node:

[code]

The syntax for Flow type casts looks more like `foo:bar`, so it has a true type annotation whe

[2016-03-11 22:05] valorkin commented on #25
Typescript has several ways of type hinting

thing is I want get it working fast at least for what is used in angular 2

so must probably I will have to use mine repo :(

[2016-03-11 22:07] nzakas commented on #25
@valorkin sorry, we just can't skip ahead to do this. What you have will make the parser continue without error, but you're producing a correct AST, so it will likely cause unexpected errors when used with ESLint.

[2016-03-11 22:12] valorkin commented on #25
I am not yet AST maniac, I see some wrong tokens
but I am definitely will need some finger pointing and help
with this to get things done correctly

so If you can say precise what is wrong with it,
it would be good

actually AST for `a.b` should be equal to `(a as node).b`
@nzakas correct?
so I will try to achieve it

[2016-03-11 22:15] nzakas commented on #25
@valorkin please see my previous comment. Even we create a node type for casting, we still need to create the node types for all types and be able to parse all types. We just aren't there yet, so I'm afraid you'll need to wait until we get to phase 4 of the development plan.

[2016-03-11 22:19] valorkin commented on #25
what if can just remove them from AST from now?
so we can use and parse es6/es7 correct syntax?

[2016-03-11 23:29] valorkin commented on #25
@nzakas It seems that I moved you to some misconception
`as` here is not a type annotation, it is a type hint
If you will have time check this (quick look on code samples)
https://github.com/Microsoft/TypeScript/blob/master/doc/spec.md#1.2
chapters 1.2 1.3 1.4

this is how type annotations looks in TS
[code]

`as` operator used in 2 situations `import/export`, `type hints`
I did some in deep look

[2016-03-11 23:32] valorkin commented on #25
[code]
part for `y: Test` will be converted to `PropertySignature` with `name` property`( eq `Identifier`) and `type` property (eq `TypeReference`)

[2016-03-12 10:57] valorkin opened #27 "IDE config"
Add IDE config with settings corresponding to eslint code style

[2016-03-12 16:49] nzakas commented on #25
@valorkin this project is not ready to be used (the readme says it's experimental), so I'm not willing to begin making changes like this yet. You can feel free to make whatever changes you want in your own fork, we just can't start forcing syntax in at this point. Creating the correct AST is important for ESLint to work correctly, which is why we have to take the time to do it right.

[2016-03-14 12:04] valorkin commented on #25
@nzakas roger that
than I will make my fork just `good enough` to work with typescript
here is ast explorer to play with it, so it will be easier to reason about
http://valorkin.github.io/astexplorer/#/gvbyXRep3E
most probably when I am done I will be ready to propose AST structure to handle
TypeScript specific things, do you have preferable format for it?

[2016-03-14 17:29] tomxtobin opened #29 "convert() logging node.kind to console"
The `default` on `convert`'s `switch` on `node.kind` [logs it to the console][node-kind-log]. I understand that may be useful while hacking on the parser, but it's kinda distracting when trying to actually *use* the parser. :-)

Maybe this could be hidden behind a debug variable or configuration option?

[node-kind-log]: https://github.com/eslint/typescript-eslint-parser/blob/master/lib/ast-conver

[2016-03-14 19:55] nzakas commented on #29
We should just remove it. I probably left it in there accidentally. :-X

[2016-03-16 14:25] jpierson opened #30 "How does this project differ from TSLint and when should typescript-eslint-parser be used instead?"

[2016-03-17 16:00] nzakas commented on #30
This project is a parser that can handle TypeScript syntax for ESLint. If you want to use ESLint with TypeScript, you would use this.

[2016-03-17 16:00] #30 closed

[2016-03-18 15:48] #18 closed

[2016-03-18 18:21] nzakas opened #31 "Phase 3: Attach comments"
Phase 3 is to add attaching leading/trailing comments to the AST inside the parser. This would involve:

1. Retrieving comments for each node.
1. Converting the TypeScript comments into Esprima-style comments.
1. Adding the comments into `leadingComments` and `trailingComments` arrays on appropriate nodes.
1. Making the result pass the tests that are already tests in tests/fixtures/attach-comments

[2016-03-18 18:22] nzakas commented on #31
astexplorer.net seems able to get leading and trailing comments for TypeScript, so it seems like there's probably already an API somewhere for getting that information. It might be worth looking at the astexplorer.net source for hints.

[2016-03-19 18:46] #27 closed

[2016-03-19 18:46] #25 closed

[2016-03-19 18:46] #24 closed

[2016-03-21 22:24] ranzwix opened #33 "typescript-eslint-parser fails on indent rule"
Hi,

We are running some tests to evaluate the usage of this parser in order to enable eslint in our typescript projects.
I am using master version and eslint 2.4.0.

I created a small repo which demonstrates our problem:
https://github.com/ranzwix/typescript-eslint-parser-check

It seems that the AST generated by the "code-sample.ts" file and the token-store are not aligned properly, therefore wh

[2016-03-22 12:29] JamesHenry commented on #31
As mentioned on gitter, I have made some decent progress on this. 9 test cases to go!

[2016-03-22 15:25] nzakas commented on #33
Thanks. This parser isn't ready to be used yet, it's still very much experimental, so we aren't yet tackling ESLint bugs. See #13 for more details.

[2016-03-22 15:26] #29 closed

[2016-04-27 22:05] dtaub commented on #13
The order here does not match what is in the README; should the README be updated?

[2016-04-28 00:52] nzakas commented on #13
Yes

[2016-05-04 22:24] calebmer opened #36 "Thanks"
This is a really awesome project, thanks so much for the great work. Can't wait to see it finished 😄

[2016-05-04 22:24] #36 closed

[2016-05-20 18:39] Pleasurazy commented on #4
Hi, Is this issue have any update?

[2016-05-21 02:20] nzakas commented on #4
@Pleasurazy the issue is closed. This project is still experimental and is expected to have a lot of errors at this point. As such, we are not accepting bug reports at this time.

[2016-05-26 08:54] DanielCollins opened #37 "npm seems to give me either an old version or a broken version"
Forgive me if this is user error or expected behavior; I am new to npm.

I originally had `"typescript-eslint-parser": "0.1.0-alpha-1"` in `package.json`, but, examining the contents of  `node_modules/typescript-eslint-parser/parser.js` showed that the version looked old and did not include the recent about JSX syntax, which `typescript-eslint-parser-0.1.0-alpha.1.zip` from github  did include. Ev

[2016-05-26 15:30] nzakas commented on #37
This project is still in the experimental phase and is not guaranteed to work. Only a small subset of functionality works, basically only strict ES6 syntax. It's not worth tracking bugs until threads a reasonable expectation that the functionality is complete.

[2016-05-26 15:30] #37 closed

[2016-06-30 06:47] mitermayer opened #38 "This seems to fail when returning boolean literals"
[code]

causes error:

[code]

The problem is that node.raw is coming in as undefined

[2016-06-30 07:20] mitermayer commented on #38
Looks like the fix has been done on master but not on NPM

[2016-06-30 07:20] mitermayer commented on #38
[code]

[2016-06-30 07:20] mitermayer commented on #38
on NPM it is wrapped on quotes "false" and "true"

[2016-06-30 07:21] mitermayer commented on #38
for the values

[2016-06-30 16:08] nzakas commented on #38
Duplicate of https://github.com/eslint/typescript-eslint-parser/issues/21

[2016-06-30 16:08] #38 closed

[2016-06-30 23:01] mitermayer commented on #21
@nzakas when are you going to do a release to fix this ?

[2016-07-05 17:24] unlight opened #39 "Rules constructor-super and no-this-before-super are applying for non derived class"
[code]
[code]
`MockRouteSegment` is not derived class.

[2016-07-05 19:11] nzakas commented on #39
ESLint rules are not expected to work with this parser yet.

[2016-07-05 19:12] nzakas commented on #33
Closing as we aren't accepting issues for ESLint rule bugs as they are not expected to work at this point.

[2016-07-05 19:12] #33 closed

[2016-07-05 19:17] nzakas opened #41 "Automatically create nodes for TypeScript-specific syntax"
The original plan was to go through and create custom nodes for TypeScript syntax that would match ESTree format (and Flow format). However, that's going to be a nonstop maintenance issue going forward. Instead, it makes sense to automatically generate the TypeScript nodes for ESLint based on what TypeScript returns. So if TypeScript has a node called `StringKeyword` (representing the string type)

[2016-07-08 02:24] #41 closed

[2016-07-08 18:01] nzakas commented on #39
Reopening this as I realized that there is an error in the way class `implements` is converted vs. class `extends`. In TypeScript they are represented more or less the same in the AST whereas we need to separate them.

[2016-07-08 18:18] nzakas opened #44 "Add typed heritage parameters to class conversion"
It's possible to do things like:

[code]

Right now, we completely lose the `S` part of the conversion. We should mimic what TypeScript does to remedy this.

[2016-07-09 16:21] #39 closed

[2016-07-10 00:58] mitermayer opened #45 "not respecting disable rules on comments"
Example:

adding this to the top of the file

[code]

still captures that error.

[2016-07-10 01:07] mitermayer commented on #5
@nzakas are you working on this issue or would accept PR on it ?

I believe you already have started on it since this area is commented out

[code]

[2016-07-10 01:07] #45 closed

[2016-07-10 01:07] mitermayer commented on #45
this is a duplicate of https://github.com/eslint/typescript-eslint-parser/issues/5

[2016-07-12 14:14] nzakas commented on #5
There's already an open PR that has some of the work done. Take a look.

[2016-07-13 23:10] OliverJAsh opened #46 "__dirname should not cause error when using node env"
Hi, thanks for your amazing work. I have some feedback but I am very aware this project is still in the very early stages.

Versions:

[code]

ESLint config:

[code]

Input and output:

[code]

Since I set the node env to true, I do not expect `__dirname` to cause an error.

[2016-07-13 23:14] OliverJAsh opened #47 "Error with syntax `import x = require('x')`"
Hi, thanks for your amazing work. I have some feedback but I am very aware this project is still in the very early stages.

TypeScript has the syntax `import x = require('x')` for importing specifically CommonJS modules. (ES6 module syntax is used for ES6 modules.) I have found that when using this syntax, the parser throws because it doesn't recognise the imported identifier. Example below.

Vers

[2016-07-13 23:22] OliverJAsh opened #48 "Identifier used as type definition is recognised as unused"
Hi, thanks for your amazing work. I have some feedback but I am very aware this project is still in the very early stages.

When I import an identifier and use it only as a type definition, the parser considers the identifier as unused. It is in fact unused in the JS, but used in the TS. I'm not sure how the parser should handle this?

Versions:

[code]

ESLint config:

[code]

Input and output:

[2016-07-16 00:38] nzakas commented on #47
That's not a parser error, it's an ESLint warning. We aren't yet at the point where it makes sense to track such problems because nothing is known to work at this point. The version you're using just completely skips over that `import` statement. Even if that started to work, ESlint would still produce a warning because scope calculation wouldn't recognize the syntax. So, we have a long way before

[2016-07-16 00:38] #47 closed

[2016-07-16 00:39] nzakas commented on #46
Sorry, same response as here: https://github.com/eslint/typescript-eslint-parser/issues/47#issuecomment-233098147

[2016-07-16 00:39] #46 closed

[2016-07-16 00:40] nzakas commented on #48
Sorry, same response as here: https://github.com/eslint/typescript-eslint-parser/issues/47#issuecomment-233098147

[2016-07-16 00:40] #48 closed

[2016-07-28 09:43] muzuiget opened #50 "Fail in Typescript 2.0 shorthand ambient module declarations"
TypeScript 2.0 support [shorthand ambient module declarations](https://github.com/Microsoft/TypeScript/wiki/What's-new-in-TypeScript#shorthand-ambient-module-declarations)

[code]

Current typescript-eslint-parser will report `Parsing error: '{' expected.` on this statements;

[2016-07-28 15:15] nzakas commented on #50
This is expected as this project is not yet complete. I'll leave this open to track.

[2016-07-28 15:35] #31 closed

[2016-08-09 19:46] mmc41 opened #51 "Great work - Q: Will I be able to use eslint rules (eslint-config-hapi ) on a typescript project with this"
I am very happy that you are going to support typescript. Specifically, I am looking for a way to check if a hapijs project in typescript conforms to the hapijs code standards as formulated by the "eslint-config-hapi" npm module. Will this project be able to do that ?

[2016-08-09 19:48] ilyavolodin commented on #51
@mmc41 This project is in the very early stages yet, eventually - yes, the idea would be to be able to reuse eslint rules/configs for typescript. It's too early to say if all of the ESLint rules will work for TypeScript.

[2016-08-09 20:40] nzakas commented on #51
There's no reason that shouldn't work in the future. Either the core ESLint rules will work or you'll be able to write your own rules to do whatever you want.

[2016-08-09 20:40] #51 closed

[2016-08-09 21:22] JamesHenry commented on #44
As discussed, here is a proposed AST result for code above.

The logic will involve converting the relevant TSNode's `typeArguments` array to a `typeParameters` node (to match flow).

[code]

[2016-08-09 21:53] nzakas commented on #44
Yeah, I think overall what we're talking about is adding the `typeParameters` property, which has a `TypeParameterInstantiation` node with a `params` property containing type annotations. We probably want to double-check if it's possible for anything other than `GenericTypeAnnotation` to be in that array.

Also, it looks like you're missing the `<` and `>` tokens in the token array. Those should b

[2016-08-09 21:57] nzakas opened #52 "Add function type parameters"
For code like this:

[code]

The `<X>` is missing from the output AST. This should be represented in the `typeParameters` property of the `FunctionDeclaration`, like this:

[code]

[2016-08-09 21:57] JamesHenry commented on #44
Thanks 👍 I'll try my best to hunt down info on `GenericTypeAnnotation`

[2016-08-09 22:24] JamesHenry commented on #44
Not an abundance of info around, but I think this might be a good resource: https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/estree/flow.d.ts

It suggests that `TypeParameterInstantiation `'s `params` array is just `Array<FlowTypeAnnotation>`, but rather unhelpfully the only definition of `FlowTypeAnnotation` is
[code]

In my initial implementation, `typeArguments` are only being con

[2016-08-09 22:38] JamesHenry commented on #44
Ah, I'm glad I did that because it raises an interesting question:

TypeScript includes the whitespace in front of the `T` in `<S, T>` in its range numbers, flow does not.

Shall we favour the flow approach here and "trim" the whitespace when converting the node?

[2016-08-09 22:47] JamesHenry commented on #44
I have to break off now, but I have gone ahead and opened a PR to finalise the discussion for this issue https://github.com/eslint/typescript-eslint-parser/pull/53

Thanks for your help!

[2016-08-10 04:34] mmc41 commented on #51
Great. It would be nice if just eslint rules for typescript is a superset of eslint rules for javascrupt - just like typescript is a superset of javascript. Then the eslint-config-hapi should work out of the box.

[2016-08-10 16:01] nzakas commented on #44
Yes, the nodes/tokens should not include whitespace.

[2016-08-10 17:24] #44 closed

[2016-08-12 09:12] JamesHenry commented on #19
I wanted to readdress this, but the great news is that when parsing my codebase with `typescript-eslint-parser: 0.1.1` and `eslint: 3.2.2` this is no longer an issue

[2016-08-12 09:12] #19 closed

[2016-08-14 00:26] TheLarkInn opened #54 "Discussion: Could this be used for Acorn, and then Webpack."
So I've been discussing this at length with @danielrosenwasser. Because webpack's AST parser is powered by tern/acorn, it would be incredible to have an extension to plugin to allow all sorts of crazy features via webpack. This makes the overall user story for webpack with typescript, and other frameworks far more promising.

I wanted to start the discussion somewhere, and it looks like eslint and

[2016-08-14 00:29] texastoland commented on #54
Sorry been lurking on this repo a while. In context of TypeScript specifically or ES generally? What is it doing besides sniffing dependencies?

[2016-08-14 00:31] TheLarkInn commented on #54
@texastoland!!!! Love seeing you lurk it! Do you mean what webpack is doing as a parser?

[2016-08-14 00:32] texastoland commented on #54
Ha thanks man! Yeah just curious how it could potentially enhance Webpack's capabilities? I'm unfamiliar how it instruments AST stuff.

[2016-08-14 03:16] TheLarkInn commented on #54
Webpacks [Parser instance](https://github.com/webpack/webpack/blob/master/lib/Parser.js) is a [Tapable instance](github.com/webpack/tapable) that allows you to be able to essentially write plugins that can hook into any AST walk event. Here is a very modest example:

[code]

So this power, which sadly we have not documented very well for the webpack parser is essentially to whatever the acorn pars

[2016-08-15 04:11] armorik83 opened #55 "Parser cannot parse inside decoration syntax"
[code]

[code]

I'm using in Angular@2.0.0-rc.5 and TypeScript@2.0.0. typescript-eslint-parser cannot perse the decorators syntax and inside the `@NgModule()` argument object. It was displayed `no-unused-vars` in spite of actually it's using inside argument.

[2016-08-15 16:50] nzakas commented on #55
It looks like it is being parsed fine, it's just triggering linting errors. This is expected right now because ESLint doesn't understand decorator semantics. I'll leave this open to track, but the fix wont be in the parser.

[2016-08-15 16:53] nzakas commented on #54
Sorry, I'm not sure how this discussion relates to this repository. Can you please explain?

[2016-08-15 16:56] TheLarkInn commented on #54
Sorry if I didn't tie this in. I was wondering if this functionality to be able to use eslint would involve some sort of AST/ESTREE extentions for TS. Is there a way that we can leverage this functionality? Maybe that is my misunderstanding.

[2016-08-15 17:11] nzakas commented on #13
I think we are done here. Now just working on bugs.

[2016-08-15 17:11] #13 closed

[2016-08-15 17:13] nzakas commented on #54
Yes, this parser outputs ESTree format with extensions for TS. See https://github.com/eslint/typescript-eslint-parser/issues/13 for what the plan was.

You can certainly try it out, it's just not ready for production use yet as I haven't gone through and verified the outputted AST is in the correct format in all cases.

[2016-08-15 17:23] TheLarkInn commented on #54
Awesome!! My goal is to experiment adding it to https://github.com/webpack/webpack/blob/master/lib/Parser.js#L1029-L1039 our potential AST types or have a flag that controls the AST type.

Would you mind pointing me in the right direction on including this custom ESTREE extension in acorn? Would be a great way to get some bug reporting on it.

[2016-08-15 17:39] JamesHenry commented on #52
I'm gonna take a look at this now

[2016-08-15 17:44] JamesHenry commented on #54
@TheLarkInn Just to be clear, this project uses the TypeScript compiler to parse the source, and then converts the TypeScript AST into a ESTree-compatible AST. Acorn is not used.

@nzakas added an extensions section to ESTree to begin covering type annotations here: https://github.com/estree/estree/blob/master/extensions/type-annotations.md

We are working to align with Flow's node terminology in

[2016-08-15 17:58] TheLarkInn commented on #54
Thank you for the clarification, sorry for any confusion!! I think this will be the basis for implementation.

[2016-08-15 18:00] JamesHenry commented on #54
Oh not at all, as a webpack + TS user myself, I _really_ love the idea!

[2016-08-15 18:05] TheLarkInn commented on #54
@JamesHenry alot of the AST parsing, specs ESTREE, acorn are pretty new to me so I'm parsing it all together as I go :sweat_smile:. Would love some brainstorming, and guidance on your part if you see how all of the pieces can fit together.

[2016-08-15 18:10] JamesHenry commented on #54
Sure, I'll definitely give it some thought and help out if I can! Perhaps we could move that discussion to gitter or Twitter DM in the meantime?

[2016-08-15 18:11] TheLarkInn commented on #54
Yup feel free to close the issue thank you all for the help/support. Greatly appreciated!!

[2016-08-15 18:11] #54 closed

[2016-08-15 19:38] JamesHenry commented on #52
PR is in, I included an arrow function example too:
[code]

[2016-08-15 19:41] JamesHenry commented on #50
TypeScript 2 is also not yet stable 😄 , I think it would be very ambitious of us to be attempting to support beta versions of major TypeScript releases in this parser. Especially at this stage!

[2016-08-15 20:47] OliverJAsh commented on #47
Hi, this still appears to be an issue. Do you know whether this is something we can fix? Keen to help :-)

[2016-08-15 20:47] OliverJAsh commented on #48
Hi, this still appears to be an issue. Do you know whether this is something we can fix? Keen to help :-)

[2016-08-16 19:59] nzakas commented on #47
We are a long ways from being able to fix this. It requires an augmentation to how scope variables are found in ESLint, and that's a ton of work. Sit tight, we are very early in this process and will get there eventually. If you want to help otherwise, we do need help addressing bugs as they are found.

[2016-08-16 20:39] amcdnl commented on #50
@JamesHenry TS 2.0 IS stable. They are working on 2.1 right now.

[2016-08-16 20:57] JamesHenry commented on #50
@amcdnl TypeScript 1.8.10 is the current stable release.

The fact they are already on 2.1 for their beta simply means they are doing a good job of following semver, it does nothing to validate the stability of 2.x

We will of course support the breaking changes/additions made in TypeScript 2.x in good time, but this project is not in a position to do that yet. The fact that it is still beta funct

[2016-08-16 21:27] amcdnl commented on #50
Odd, I thought it was done. They have certainly promoted it as such.

Ya, totally get it. If I get time, I will certainly contrib.

[2016-08-17 12:18] armorik83 commented on #55
I see, thank you. I expect in the future.

[2016-08-17 12:36] mysticatea commented on #55
FYI: `babel-eslint` parser addresses this problem by monkey patchings to `escope`.

- https://github.com/babel/babel-eslint/blob/master/index.js#L232
- https://github.com/babel/babel-eslint/blob/master/index.js#L260

[2016-08-19 17:56] #52 closed

[2016-08-19 17:58] nzakas commented on #55
Yeah, there's no way we are going to do that here. :)

[2016-08-19 18:01] nzakas commented on #50
Seems like this should work now. Can anyone verify?

[2016-08-19 18:05] JamesHenry commented on #50
@nzakas this relates to a new syntax in the upcoming TypeScript 2, so I would not currently expect it to work whilst we are using 1.8 to parse

[2016-08-19 18:08] nzakas commented on #50
What if we change it to `*`?

[2016-08-19 21:42] danvk opened #58 "i++ should be parsed as UpdateExpression/++ rather than UnaryExpression/PlusPlusToken"
I ran into this while debugging why this got flagged with eslint:

[code]

The error is `'i' is never reassigned. Use 'const' instead`.

The esprima parse for the `i++` looks like this:

[code]

whereas the typescript-eslint-parser equivalent is:

[code]

[2016-08-20 14:46] JamesHenry commented on #58
Thanks for your digging here @danvk, you're exactly right. Fix submitted here: https://github.com/eslint/typescript-eslint-parser/pull/59

[2016-08-21 16:33] #58 closed

[2016-08-21 21:18] daluege opened #60 "Parsing error on `new` operator without parentheses"
Whenever a TypeScript contains a `new` operator without parentheses, the following error is thrown by `eslint`:

    Parsing error: Cannot read property 'map' of undefined

According to the [TypeScript spec](https://github.com/Microsoft/TypeScript/blob/master/doc/spec.md#4.14), however, this syntax is valid.

Context:

    eslint@3.3.1
    typescript-eslint-parser@0.1.2

.eslintrc.yml:

    extend

[2016-08-22 15:39] alexeagle opened #61 "Document the tradeoffs for this approach"
Awkward issue - but having worked on TSLint lately and wiring it into our toolchain (and we'll start adding angular2 template support soon, + @mgechev ) - I'm curious why you'd want to lint a down-transpiled version of the code. You lose type information of course, plus all the ES7+ features (Esp. decorators) are de-sugared so they're harder to comprehend and analyze.

But I imagine you have a goo

[2016-08-22 15:50] JamesHenry commented on #61
Thanks for checking out the project @alexeagle! I am not sure I understand you correctly when you say "I'm curious why you'd want to lint a down-transpiled version of the code".

This project parses the source using the TypeScript compiler to produce a standard TypeScript AST, and then simply converts that AST into a form which matches the ESTree spec (evolving over at https://github.com/ESTree/es

[2016-08-22 15:56] JamesHenry commented on #61
PS. I am already using this parser on my large Angular 1 app, which is written in TypeScript, using decorators from a project I contribute to called [ng-metadata](https://github.com/ngParty/ng-metadata)

[2016-08-22 16:00] JamesHenry commented on #61
PPS @mgechev's work on linting against the style-guide has been fantastic, and I definitely believe it will be possible to match those capabilities through custom rules in ESLint

[2016-08-22 16:59] JamesHenry commented on #50
My concern around being entirely open is actually less do with syntax additions (as in this issue), and more about our use of the compiler.

The main part of TypeScript which we are exposed to is the compiler API and this is subject to change across major versions as much as the high-level features are. We also use various TS utility methods for node conversion which could be changed. (They are us

[2016-08-22 17:12] JamesHenry commented on #50
Out of curiosity I just tried running our test suite against the latest TypeScript 2.x beta build (typescript@2.1.0-dev.20160822) and 2 of our JSX tests failed

[2016-08-22 18:07] nzakas commented on #55
Actually, it looks like we aren't even attaching the decorators into the AST. @JamesHenry do you have time to look into that?

[2016-08-22 18:08] nzakas commented on #60
What version of TypeScript are you using?

Can you paste in the complete output that you're seeing?

[2016-08-22 18:15] nzakas commented on #61
@alexeagle I think that @JamesHenry hit the nail precisely. One of the things we've heard repeatedly from ESLint users is that they are upset that moving to TypeScript means leaving ESLint behind. We've also heard that they wish TSLint was more like ESLint. There's no good reason that ESLint can't support TypeScript, all that was missing was a parser.

Take the case of another type dialect, Flow.

[2016-08-22 18:26] JamesHenry commented on #60
@nzakas I can reproduce this.

It turns out TypeScript just leaves off the `arguments` property from its NewExpression node when you don't provide the parens. We are trying to map over them without checking if the property exists.

Fix coming up!

**With Parens:**
![unspecified-9](https://cloud.githubusercontent.com/assets/900523/17866394/43433e06-689e-11e6-8a35-6f98a774fb2e.png)

**Without Parens

[2016-08-22 18:29] JamesHenry commented on #55
I actually thought about this for a bit after Alex submitted his issue :) I could not find any reference to ESTree or Flow capturing decorators though. Shall I go for whatever the TypeScript vernacular is for now?

[2016-08-22 18:42] JamesHenry commented on #60
PR here https://github.com/eslint/typescript-eslint-parser/pull/62

[2016-08-22 19:02] JamesHenry opened #63 "Milestone: Decorator Support"
This issue it to track progress against supporting decorators within the final AST that the parser produces. We currently remove them during parsing.

We need to ensure that the following are accurately carried over from the original TypeScript AST:

- [x] Parameter Decorators
 - [x] On instance member
 - [x] On static member
 - [x] In constructor
- [x] Method Decorators
 - [x] On instance member

[2016-08-22 19:03] JamesHenry commented on #55
I have opened up a new issue to track adding decorators to the final AST: https://github.com/eslint/typescript-eslint-parser/issues/63

[2016-08-22 20:20] nzakas commented on #63
Agreed.

It's probably worth looking at the AST that Babel produces for decorators, which I'm guessing is similar.

[2016-08-22 20:20] nzakas commented on #60
Awesome work, thanks.

[2016-08-22 20:21] #60 closed

[2016-08-22 20:46] JamesHenry commented on #63
Good thinking!

astexplorer shows that babel-eslint produces near identical output, with both the decorator and decorator factory nodes (within a `decorators` array on the `MethodDefinition`) having a type of `Decorator` and an `expression` property.

As described above, the `expression` is an `Identifier` for the decorator, and a `CallExpression` for the decorator factory.

![aug-22-2016 21-40-33

[2016-08-22 21:58] alexeagle commented on #61
I see, thanks for clarifying.

But, you still won't have a type checker available to ESLint. We have started writing TSLint checks that are type-aware, for example checking the types of the two operands to `+` among many others. Would you expect this sort of rule would eventually be possible in ESLint as well?

[2016-08-22 22:08] JamesHenry commented on #61
Please could you point us to a specific example of what you mean?

[2016-08-22 22:11] alexeagle commented on #61
Check out this test:
https://github.com/palantir/tslint/blob/master/test/rules/restrict-plus-operands/test.ts.lint

TSLint can warn if you add a string and a number, or a string and null, based on the type of the two operands. You can't do this kind of check syntactically.

To make this possible, we added an input to TSLint that points to a `tsconfig.json` or a `ts.Program` so we get access to the

[2016-08-22 22:25] JamesHenry commented on #61
Thanks, that is clear and an interesting case. I will defer to @nzakas on this one as it relates directly to ESLint and rule config 😄

All the pieces are there, and it would be awesome if we could bring them together without needing big changes to ESLint

[2016-08-22 22:35] JamesHenry commented on #61
I feel like the ESLint plugin could potentially do this (for example, we have literally just started one here https://github.com/nzakas/eslint-plugin-typescript).

It could look up the project's tsconfig.json in the same way that TSLint does to make a `ts.TypeChecker` available to all its rules' create methods via a simple closure... But I may well be wrong!

http://eslint.org/docs/developer-guide

[2016-08-22 23:12] JamesHenry commented on #61
So... yeah, that works 🎉

![aug-23-2016 00-10-03](https://cloud.githubusercontent.com/assets/900523/17874825/079e87a2-68c6-11e6-88d1-2865c1d0e0f2.gif)

[2016-08-22 23:17] JamesHenry commented on #61
I have obviously hacked this together in a matter of minutes so it won't be a bullet-proof approach. In order to benefit from all of the existing TypeChecker methods I simply modded the parser to keep a reference to the original TSNode.

@nzakas How do you feel about that as a way of enabling these kinds of checks?

ESLint Rule code (pretty much taken from @alexeagle's code in TSLint):
![unspecifi

[2016-08-22 23:42] nzakas commented on #63
Makes sense. Bonus points for the animated demo. :)

[2016-08-22 23:50] nzakas commented on #63
It looks like Flow does support decorators, and it's with the `decorators` array with `Identifier` or `CallExpression` as items, so probably best to mimic that.

[2016-08-24 16:16] nzakas commented on #61
We could do that, though I'd want to tweak the implementation a bit.

@alexeagle I think the overall point here is that ESLint is a lot more flexible than it may seem at first. Im willing to bet that ESLint can do anything TSLint can do or wants to do if we really focus on it.

[2016-08-24 16:31] alexeagle commented on #61
@nzakas that's great, thank you for explaining. My remaining concern is just about fragmentation. Since there is no common API for writing a check/rule among the various tools, they don't have feature parity, and there are many editors to wire up, we risk having no tool that includes all the checks and works in all the editors. This leaves teams to use multiple tools and forgo good tooling support

[2016-08-24 18:02] corbinu commented on #61
Just a comment that I am currently switching a large ES6 codebase to Typescript and lack of rules in TSlint has been an issue. We have a rather eslint config and maybe a 2/3rds of the rules were available in TSLint even when using https://www.npmjs.com/package/tslint-eslint-rules

The bigger issue to me though is the lack of ability to use eslint plugins of which there are many more for example we

[2016-08-24 18:23] nzakas commented on #61
@alexeagle thanks for the background info. While I can understand the concern about fragmentation, we are still planning to proceed here. From my point of view, TSLint is always going to be playing catch-up to ESLint in terms of rules and features. In the meantime, we have a fairly simple path forward to get some really good TypeScript support into ESLint. I think there's also a good opportunity t

[2016-08-24 18:25] nzakas commented on #50
That's a fair point.

[2016-08-24 18:32] JamesHenry commented on #63
Ok, cool thanks. Do you have a reference for that you can link to?

I will update that first PR now

[2016-08-24 18:37] nzakas commented on #63
I just used astexplorer.net.

[2016-08-24 20:18] JamesHenry opened #65 "Add static and instance method decorators to the AST"
As per https://github.com/eslint/typescript-eslint-parser/issues/63

[2016-08-24 20:21] JamesHenry commented on #63
Method decorator support (static and instance methods) now complete in https://github.com/eslint/typescript-eslint-parser/pull/64

[2016-08-24 20:59] JamesHenry opened #66 "Add class decorators to AST"
As per #63

[2016-08-24 21:02] JamesHenry commented on #63
Class decorator support now also complete. I branched from the method decorator PR to avoid conflicts

[2016-08-24 21:52] JamesHenry commented on #63
It appears that flow does not currently support Parameter Decorators.

I think it make sense to just follow the same approach as with the other decorator types - a `decorators` array on the parameter identifier node directly

[2016-08-24 23:24] nzakas commented on #63
Agreed.

[2016-08-24 23:25] #65 closed

[2016-08-25 15:27] #66 closed

[2016-08-25 17:47] JamesHenry opened #68 "Add parameter decorators to AST"
As per #63

[2016-08-25 17:53] JamesHenry commented on #63
Cool, thanks. In which case PR for parameter decorators is ready https://github.com/eslint/typescript-eslint-parser/pull/69

[2016-08-25 18:18] nzakas commented on #61
FYI: Proposal for how to expose additional services related to a parser in ESLint has been filed here: https://github.com/eslint/eslint/issues/6974

[2016-08-25 20:45] #68 closed

[2016-08-25 21:17] JamesHenry commented on #55
@nzakas Just to confirm, even now that we have added the class decorators to the AST, the `no-unused-var` errors are still present

[2016-08-26 07:17] andersekdahl opened #70 "Known Issue with JsxText nodes and whitespace (bug in ts.findNextToken() in tsc)"
First off, thanks for creating this! I'm reeeaaally looking forward to being able to use ESLint with TypeScript!

**What version of TypeScript are you using?**
1.8.10

**What version of `typescript-eslint-parser` are you using?**
0.1.3

**What code were you trying to parse?**

[code]

**What did you expect to happen?**
It shouldn't throw an error.

**What happened?**

[code]

[2016-08-26 09:30] JamesHenry commented on #70
Thanks, @andersekdahl. You are clearly using some plugins, and this error is actually being thrown in ESLint itself, so please can you provide your full configuration?

[2016-08-26 13:04] andersekdahl commented on #70
Sure, sorry I didn't include it in the first place.

.eslintrc
[code]

[2016-08-26 16:22] nzakas commented on #70
There's something in the `jsx-curly-spacing` rule from `eslint-plugin-react` that is throwing an error. This coukd mean that the output from that code isn't the same as Espree

[2016-08-26 16:26] nzakas commented on #55
Yes, that's behavior is expected because escope doesn't know how to handle decorators.

[2016-08-26 16:47] JamesHenry opened #71 "Add property decorators to AST"
As per #63

[2016-08-26 16:51] JamesHenry commented on #63
Property decorators up next! https://github.com/eslint/typescript-eslint-parser/pull/72

[2016-08-26 17:44] JamesHenry commented on #55
Have you had any thoughts about how we might address that for this case? I am very happy to work on a fix for this, but so far it's not clear to me how/where this will be tackled.

[2016-08-26 17:54] nzakas commented on #55
In the short-term, we can probably add a rule in `eslint-plugin-typescript` that manually marks the identifier as used. `eslint-plugin-react` had to do something similar for some JSX stuff: https://github.com/yannickcr/eslint-plugin-react/blob/master/lib/rules/jsx-uses-vars.js

[2016-08-26 19:07] #71 closed

[2016-08-26 19:08] nzakas commented on #63
You are rocking!

[2016-08-26 19:48] JamesHenry commented on #63
🎸

[2016-08-26 20:13] JKillian commented on #61
@JamesHenry What sort of work do you anticipate would have to go into the current ESLint rules to make them work well with TS? For example, I noticed you said at one point:

Do you mean for TS specific-features? Obviously a rule having to deal with, say, disallowing type aliases would be part of a custom set and would make no sense as part of core ESLint. Or do you mean that there would have to be

[2016-08-28 20:10] JamesHenry commented on #61
Essentially, the TypeScript source gets turned into an ESTree AST. This is what espree (the default parser for ESLint) produces, and so it is what ESLint core rules are built on.

This means that it should be possible for the vast majority, if not all, of the core ESLint rules to _just work_ with TypeScript when using this parser. I am currently using a number of them on a large TypeScript project

[2016-08-29 19:11] #63 closed

[2016-08-29 19:11] nzakas commented on #63
@JamesHenry you are awesome. Thanks for all your work on this.

[2016-08-29 19:25] gaurav21r opened #74 "Help from tslint-eslint rules?"
Hi there! I don't know a lot about the TS Language Services API but I am cheering for ESLint to support TS very soon! ESLint is pretty fantastic and I think we would all win if there are fewer tools covering a larger area! Besides, eslint configs are far superior to TSLint's.

This project -> https://github.com/buzinas/tslint-eslint-rules uses the reverse methodology. I was just wondering if the c

[2016-08-29 19:50] nzakas commented on #74
@gaurav21r unfortunately, there's not a lot of value to ESLint TypeScript support from looking at that project. Basically, that project will be irrelevant if we do our job correctly because the core ESLint rules will just work. :)

I'm also privately working on a plugin with TypeScript-specific rules: https://github.com/nzakas/eslint-plugin-typescript. That's an area where we could definitely use

[2016-08-29 19:50] #74 closed

[2016-08-29 20:08] gaurav21r commented on #74
@nzakas Thanks for your response! What is the difference between `eslint-plugin-typescript` and `typescript-eslint-parser`?

If I understood the goals of this project correctly (#13), `typescript-eslint-parser` will enable us to :

1. Use standard ESLint rules (say the airbnb shareable config) with TS Code.
2. Add TS specific rules for TS Code. (Eg: Type annotations should have a space)

[2016-08-29 20:55] platinumazure commented on #74
@gaurav21r `typescript-eslint-parser` is a parser that wraps the TypeScript compiler, and it basically transforms TypeScript code into a format that ESLint can use to walk through the code and allow the rules to run on the code. Using just typescript-eslint-parser will allow core ESLint rules to be run on TypeScript code, but any rules specific to TypeScript (e.g., anything that has to do with typ

[2016-08-29 23:10] JamesHenry commented on #63
Thanks so much @nzakas! Your patience and guidance has been invaluable throughout this process

[2016-08-30 16:20] JamesHenry commented on #50
TypeScript 2 just hit RC https://blogs.msdn.microsoft.com/typescript/2016/08/30/announcing-typescript-2-0-rc/

[2016-08-30 17:46] nzakas commented on #50
@JamesHenry should we be upgrading? I'll rely on your expertise and advice for that decision.

[2016-08-30 19:58] gaurav21r commented on #74
@platinumazure Thanks a lot! Thats a great explanation! I was almost there except I thought this repo would handle both 1 & 2 points. Just to re-iterate, if I set **.eslintrc** to
[code]

My typescript code would get linted with the AirBnb rules config?

[2016-08-30 20:13] gaurav21r opened #75 "Problem with Interfaces"
**What version of TypeScript are you using?** **1.8.10**

**What version of `typescript-eslint-parser` are you using?**  **0.2.0**

**What code were you trying to parse?**

[code]

**.eslintrc**
[code]

**What did you expect to happen?**
From what I could gather from #74 , I should be able to get Linted with no Errors

**What happened?**

[code]

[2016-08-30 21:29] platinumazure commented on #74
Yes- when this project is ready, of course. :-)

On Aug 30, 2016 4:22 PM, "Gaurav Ramanan" <notifications@github.com> wrote:

[2016-08-30 21:55] platinumazure commented on #75
I *did* [say](https://github.com/eslint/typescript-eslint-parser/issues/74#issuecomment-243587272) "when this project is ready". :smile:

I don't know if we've even gotten to interfaces yet.

[2016-08-30 22:33] nzakas commented on #75
@gaurav21r I appreciate the enthusiasm, but please note what it says on the readme:

We are still very far away from having all ESLint rules work, and from having ESLint know how to interpret TypeScript-specific syntax.

[2016-08-30 22:33] #75 closed

[2016-08-31 02:34] JKillian commented on #61
Thanks for the detailed response @JamesHenry. That sounds like the ideal situation to me - having all (or at least most) of ESLint's core rules work on TypeScript and having some additional rules that deal with TS-specific things.

However, I'm still uncertain about the answer to one of my original questions. Say we have the following TS code:

[code]

And also say we're using the core `semi` ESLi

[2016-08-31 16:25] nzakas commented on #61
@JKillian you can try that right now and see for yourself. :)

[2016-08-31 16:44] JamesHenry commented on #61
Right, the first line would not be picked up by core ESLint "semi" (the second would), because none of the node types are encapsulated in that rule definition.

Currently, (please correct me if I am wrong @nzakas) there is no direct way to extend an existing rule with new behaviour, so the `eslint-plugin-typescript` would provide an extra rule for those TS nodes

[2016-08-31 17:33] nzakas commented on #61
That's correct. That doesn't mean we can't make it work, though. We can try to make ESLint smarter in a bunch of ways so we don't have to duplicate rules.

[2016-09-01 13:03] JamesHenry commented on #50
Yes, I think we should, I will create an issue to track what needs updating.

However, I still feel this is a lower priority than work on extending the eslint-plugin-typescript repo.

We have made tremendous progress on the parser, and the only real blocker remaining for people is that core ESLint rules such a "semi" or "no-undef" are currently not able to pick up the non-js nodes. I think if we c

[2016-09-01 18:18] JamesHenry opened #77 "Discussion: Extending core ESLint rules to "just work" with TS-specific nodes"
In agreement with @nzakas, I wanted to start a discussion here which summarises the findings so far on which core ESLint rules currently have issues with TypeScript-specific concepts, such as interfaces and decorators.

We do have a few options open to us with regards to making this all work (and the `eslint-plugin-typescript` plugin will still have its place regardless), but we are in agreement t

[2016-09-01 18:24] JamesHenry commented on #77
I would also like to point out that in spite of the above, I am running over **100** of the core ESLint rules on the large TypeScript codebase without any problems at all!

🎉

[2016-09-02 16:15] JKillian commented on #61
TSLint actually has an advantage here - since TS is a superset of JS, it can apply its rules to JS and TS files alike without modifications to the rules. (Although at the moment, you can't actually use TSLint on JS files - but there's no practical reason for this and it'll be a relatively simple change to teach it to lint JS files.)

Thanks for creating #77 @JamesHenry, I think this is a key point

[2016-09-02 16:41] nzakas commented on #77
Thanks for doing this! I'm low on energy, so probably will dig in more next week.

Off the top of my head, I think we can make `space-infix-ops` skip type annotations in the core rule (we've done this elsewhere).

For `semi`, are there many TS-specific constructs that need semicolons? Or is it just a subset?

[2016-09-06 13:24] friedbizkvit opened #78 "Escope null body failure"
**What version of TypeScript are you using?**

 1.8.10

**What version of `typescript-eslint-parser` are you using?**

 0.2.0

**What code were you trying to parse?**

d3.d.ts from
https://raw.githubusercontent.com/DefinitelyTyped/DefinitelyTyped/master/d3/d3.d.ts

**What did you expect to happen?**

Correct behavior

**What happened?**

[code]

[2016-09-06 14:54] JamesHenry commented on #70
I have dug into this today, and it seems to be because of the `JsxText` and `ts.findNextToken()` issue we found when building out jsx support originally.

I reported the issue here: https://github.com/Microsoft/TypeScript/issues/7471

The whitespace characters between the JSX nodes are TypeScript `JsxText` nodes, and the bug above causes them to break our token conversion loop.

@andersekdahl a te

[2016-09-06 15:14] JamesHenry commented on #78
Thanks, @friedbizkvit. I can confirm that this is a bug (see below for details).

One thing I would note is that it doesn't really make sense to lint 3rd Party definition files that you don't have control over, and you will likely want to exclude them.

## The issue
It is possible for functions in TypeScript to have no body, because they are simply being used to declare a type.

E.g.
[code]

...or

[2016-09-06 15:25] JamesHenry commented on #77
No problem at all! Just reply whenever you can.

I cannot say that I have ever thought about it (I personally use no semi-colons, regardless of JavaScript or TypeScript), but I feel like it would be limited to a subset.

I will look into submitting a PR to eslint for the `space-infix-ops` rule.

[2016-09-06 17:38] nzakas commented on #77
Part of what I'm wondering is if things like the `type` statement can be represented as `VariableDeclaration` so it would transparently work, but if there's a large number of statements besides that, then we need something a bit more generic.

[2016-09-06 17:41] nzakas commented on #78
@JamesHenry it looks like Flow uses `DeclareFunction` in that case, I'd prefer to do the same.

[2016-09-06 18:35] JamesHenry commented on #78
Ok, these definitely have different implementation details, so I am going to submit them as two separate PRs.

First up, the change to `DeclareFunction`, as it is pretty straightforward. `TSModuleBlocks` and their exports will require a bit more work.

[2016-09-06 20:00] JamesHenry commented on #77
I have asked in the TypeScript gitter channel. If I don't get anywhere with that I will open an issue on their repo.

There is no reference to semi-colons in the language spec: https://github.com/Microsoft/TypeScript/blob/master/doc/spec.md

[2016-09-07 22:43] JamesHenry commented on #77
@nzakas It seems like it might be worth doing it for just the type alias initially:

From Mohamed on the TS Team:

So, coming back to your suggestion:

That would be an update to the core rule right? Not an AST (and therefore parser) change?

[2016-09-08 09:45] friedbizkvit opened #80 "Abstract method definition failure"
**What version of TypeScript are you using?**

1.8.10

**What version of `typescript-eslint-parser` are you using?**

0.2.0

**What code were you trying to parse?**

[code]

**What did you expect to happen?**

Correct behavior

**What happened?**

[code]

[2016-09-08 10:05] JamesHenry commented on #80
Thanks @friedbizkvit!

Reference from the TS spec: https://github.com/Microsoft/TypeScript/issues/3578

@nzakas We currently do not have a natural way to record this info and are skipping the modifier node, and there is no precedent in flow or other tools.

TypeScript records this, as with many other things such as the `ExportKeyword`, in a `modifiers` array on the `ClassDeclaration` and `MethodDe

[2016-09-08 18:17] nzakas commented on #80
My only concern is for rules that look for `MethodDefinition` and expect `body` to be non-`null`. I'd almost rather have an `AbstractMethodDefinition` node instead to avoid that problem. What do you think?

[2016-09-08 18:19] nzakas commented on #77
@JamesHenry what I meant was, we change what the parser output so that the type alias declaration outputs a `VariableDeclaration` node instead of whatever we're doing now. That way, the core rule will just work because it already checks `VariableDeclaration` nodes (though we'd have to double-check that other core rules aren't confused by this, but giving it a brief once-over, I think it should wor

[2016-09-08 18:37] JamesHenry commented on #77
Ah gotcha! Yeah let's give that a go as a first step

[2016-09-08 18:40] JamesHenry commented on #80
Good thinking! As I say we are on our own in terms of defining this in an ESTree AST so I think `AbstractMethodDefinition` works great as a starting point

[2016-09-08 18:41] JamesHenry commented on #80
PR coming up with that, and `AbstractClassDeclaration` of course too

[2016-09-08 19:45] JamesHenry commented on #78
So finishing this one off...

Let's use this as our example:

[code]

This currently causes issue because, as mentioned above, the function does not have a body.

(Note, there is no declare keyword for the select function, so it is not covered by the first PR that went in for this issue)

Basically the `namespace` (TSNode.kind is `ModuleDeclaration`, which contains a `ModuleBlock`) is significant.

[2016-09-08 19:49] JamesHenry commented on #78
I have gone ahead and submitted a PR with this logic here: https://github.com/eslint/typescript-eslint-parser/pull/82

@nzakas Feel free to just give feedback directly on there if you would prefer a different approach

[2016-09-08 19:56] JamesHenry commented on #5
Update on this issue:

It was decided that ESLint would be taking responsibility for attributing comment nodes. This project, and any other ESLint parsers, will only be responsible for identifying and converting the comment nodes for ESLint to then attach.

Here is the relevant issue in ESLint: https://github.com/eslint/eslint/issues/6724

[2016-09-08 20:05] JamesHenry commented on #55
I am going to close this as it is neither a bug, nor a feature that relates to this project specifically.

To summarise:

**TypeScript decorator syntax is fully supported by this parser**, but there is not yet a way for the ESLint core rule `no-unused-vars` to know when they have actually been used.

This detection mechanism will be implemented in the complementary project `eslint-plugin-typescrip

[2016-09-08 20:05] #55 closed

[2016-09-08 20:22] nzakas commented on #80
Hmm, I'm not sure agree. Abstract class classes have no tangible difference from regular classes wheras abstract methods do. I think the summation of your point, though, is that it makes sense to represent abstract things in the same way, which makes sense.

So I think the larger question is this: are there core rules that should run on abstract classes/methods or not?

[2016-09-08 20:26] nzakas commented on #78
I think that makes sense, as I don't think core rules would have any idea how to deal with this.

[2016-09-08 20:50] JamesHenry commented on #77
🎉

![sep-08-2016 21-48-20](https://cloud.githubusercontent.com/assets/900523/18366304/17a07fac-760e-11e6-9a93-2233a7454b60.gif)

[2016-09-08 20:56] JamesHenry commented on #61
@JKillian, here is an example of ESLint "semi" picking up on the type alias declaration without any plugins or extra rules:

![sep-08-2016 21-48-20](https://cloud.githubusercontent.com/assets/900523/18366417/7e16559a-760e-11e6-96df-60f7b7a608ae.gif)

As you might have seen on #77, I am running well over 100 ESLint core rules on my large TypeScript codebase now using this parser.

Thanks a lot for

[2016-09-08 21:20] JamesHenry commented on #80
To be honest, I only use classes when I have to (e.g. when using Angular 2) and I was not actually aware of this `abstract` functionality until this issue 😄 I have not seen it talked about anywhere, and I was not even documented in the spec.

For those reasons I was leaning towards a new node type for now, and then potentially addressing it in future if people report that there are core rules rela

[2016-09-08 21:26] vitorbal commented on #77
This is great, awesome job @JamesHenry!

[2016-09-09 14:56] simondiep opened #84 "Reason for the BSD-2 License"
Is there a specific reason this project uses the BSD-2 license?  That's a limiting factor for me.

[2016-09-10 11:53] JamesHenry opened #85 "`typeof` falling through to auto-conversion"
We are currently not explicitly handling a standard `typeof` statement

E.g.
[code]

It should be converted to a `UnaryExpression`, currently being auto-converted to a `TSTypeOfExpression`

[2016-09-11 00:39] JKillian commented on #77
@JamesHenry nice work on the type aliases, I think treating them as a special kind of variable declaration makes sense - since it's very similar syntacticly.

Not sure if you have a list of TS-specific constructs you're testing, but a couple more worth checking if they need special treatment:

Module declarations, for example shorthand ambient module declarations:
[code]

Type guards:
[code]

The

[2016-09-11 10:58] JamesHenry commented on #77
Thanks a lot, @JKillian! Those will all make great test cases for full TypeScript 2 support. I will be prioritising that as soon as it is "final/stable"

[2016-09-12 17:55] nzakas commented on #84
Can you explain the limiting factor?

Generally, all of our projects are either MIT or BSD-2. In this case, there's parser code from another project that's licensed under BSD-2, so we just kept the same license.

[2016-09-12 18:00] #85 closed

[2016-09-12 18:01] nzakas commented on #80
Fair enough.

[2016-09-12 18:04] nzakas commented on #77
@JKillian can you paste those into a new issue for TypeScript 2 support?  I'm afraid they'll get lost if left here.

[2016-09-12 21:16] dannyfritz opened #87 "ClassProperty and MethodDeclaration Visibility Declarations"
**What version of TypeScript are you using?**
2.0.2

**What version of `typescript-eslint-parser` are you using?**
0.2.0

**What code were you trying to parse?**

[code]

**What did you expect to happen?**
I expected an `ASTNode` for `ClassProperty` with `public` represented on it.

**What happened?**
I had to use [`context.getText(node)`](https://github.com/dannyfritz/eslint-plugin-typescript/blo

[2016-09-13 01:13] simondiep commented on #84
Is there a specific npm dependency that is BSD-2?

I'm currently not allowed to use BSD-2 licensed projects.

[2016-09-13 17:29] nzakas commented on #84
I don't know if any dependencies are BSD-2 or not, we only require dependencies to have a liberal open source license.

Can you explain why you can't use BSD-2? This is generally one of the safest open source licenses.

Also, the open source license only applies to modifying the code, not using it, so if you're only interested in using the code then there shouldn't be a problem.

[2016-09-13 17:37] nzakas commented on #87
The `public` is represented in the  TypeScript AST, we just aren't converting it.

[2016-09-13 18:58] dannyfritz commented on #87
I'll take another look later today because I was looking in the TS AST I thought for it. Could you be more specific? Or is there a handbook for the TS AST somewhere? Otherwise I'll just take a more scrutinous look later today.

[2016-09-13 19:31] nzakas commented on #87
I just used astexplorer.net with your example

[2016-09-13 23:12] dannyfritz commented on #87
I can work on this.

Also thanks for `astexplorer.net`. This is a great tool.

[2016-09-14 17:06] nzakas commented on #87
Cool!

I think we probably just want to add a `visibility` property to the `ClassProperty` and `MethodDefinition` nodes, with a possible value of `null` (if not present), `"private"`, or `"public"`.

[2016-09-14 18:13] dannyfritz commented on #87
I was thinking about putting it under `modifiers` as that is what TS AST seems to do.

![screen shot 2016-09-14 at 12 11 54](https://cloud.githubusercontent.com/assets/315788/18524141/7ca50818-7a74-11e6-9c03-9002107c68e2.png)

---

I'm having some trouble figuring out the tests. Quite a few of the JSX ones are failing for me out of the gate which I assume is known. Using `TS 2.0.2` and `master` of

[2016-09-15 19:59] nzakas commented on #87
We don't support TypeScript 2 yet, so the errors are expected. Try installing TypeScript 1.8 instead.

For the AST, `modifiers` in the TS AST tend to refer to all kinds of things, things that ESTree tends to put directly on a node. For instance `async` ends up in the `modifiers` array, but in ESTree, `async` is a property on the node.

So the `visibility` approach I mentioned in more in format tha

[2016-09-15 20:55] dannyfritz commented on #87
:+1: Thanks for the guidance.

[2016-09-16 12:35] #84 closed

[2016-09-16 15:25] JamesHenry opened #89 "Converting `type` to `VariableDeclaration` causing issue with core indent rule"
### Background

In 0.3.0 we added the conversion of type declarations, such as:

[code]

...to `VariableDeclaration` ESTree nodes. The final ESTree nodes have an empty `declarations: []` array property.

### Issue

When using `typescript-eslint-parser` 0.3.0 with the core rule `indent` enabled, a runtime TypeError is thrown.

This is because the `indent` rule implementation does not check for a po

[2016-09-16 16:20] platinumazure commented on #89
For what it's worth, I would support a length check in the `indent` rule.

[2016-09-16 17:01] nzakas commented on #89
That seems like a bug in the parser. Why is `declarations` empty?

[2016-09-16 17:05] #78 closed

[2016-09-16 19:06] JamesHenry commented on #89
Reflecting more on this, I do agree. The length check I am suggesting would fix the symptom of the issue, but it would come at the expense of the `indent` rule taking the type declaration into account.

The `declarations` array is empty because in https://github.com/eslint/typescript-eslint-parser/pull/83 I wanted to implement the minimum possible conversion of the node to satisfy the `VariableDec

[2016-09-16 19:11] platinumazure commented on #89
I didn't realize that there was an eventual goal of converting the type
declaration details into a VariableDeclarator node or equivalent- sorry
about that. I don't mind leaving indent as it is at this point. I like
defensive coding (or, maybe we could express our intention of checking the
declarations array with an `assert` call), but I'm okay with how it is now
that I understand the plan.

On Sep

[2016-09-16 20:03] JKillian opened #90 "TS 2.0 construct support"
A list of TS-2.0 constructs that we'll need to watch out for:

Module declarations, for example shorthand ambient module declarations (#50):
[code]

The non-null assertion operator:
[code]

Typed usages of `this` (`this` is not really a parameter):
[code]

This is not necessarily a complete list.

[2016-09-16 20:04] JKillian commented on #77
@nzakas sure, created it over in https://github.com/eslint/typescript-eslint-parser/issues/90

Just a note, the Type Guard example above is not TS 2.0 specific, so I didn't move it over to #90.

[2016-09-16 21:18] JamesHenry commented on #89
I wouldn't say there explicitly was, the goal is just to allow TS `TypeDeclaration`s to work with existing rules whenever possible.

PR submitted here https://github.com/eslint/typescript-eslint-parser/pull/91

[2016-09-16 23:12] corbinu opened #92 "Parsing multiple call signatures throws exception"
For fun I decided to test VSCode using this parser (seemed like a good large project to test) and my first error was this:

If you guys are open to it I would be happy to actually fork VSCode and setup Travis to smoke test the parser against it. That way I can easily open new issues as fixes are released.

**What version of TypeScript are you using?**
1.8.10

**What version of `typescript-eslint-p

[2016-09-16 23:22] JamesHenry commented on #87
Just FYI, the TypeScript spec refers to this in terms of "accessibility", rather than "visibility":

https://github.com/Microsoft/TypeScript/blob/master/doc/spec.md#822-accessibility

[2016-09-17 04:39] dannyfritz opened #93 "Line Endings on Windows affect range/loc start and end CRLF/LF"
**What OS are you using?**
Windows 10

**What version of TypeScript are you using?**
1.8.0

**What version of `typescript-eslint-parser` are you using?**
0.3.0

**What code were you trying to parse?**
`npm test`

**What did you expect to happen?**
Tests to pass.

**What happened?**
All tests with more than 1 line of code failed because `\r\n` is longer than `\n`.

**Possible Fix**
Add a `.gitattri

[2016-09-17 07:47] corbinu commented on #92
Setup a smoke test repo https://github.com/corbinu/eslint-typescript-smoketest

[2016-09-17 14:34] JamesHenry commented on #92
Awesome, @corbinu! Thanks a lot for doing that.

I've never actually set up anything like that before, is there a way we could get those tests to run ahead of PRs being approved?

[2016-09-17 14:36] platinumazure commented on #92
I know we have a "regression build" for ESLint which checks some common ESLint plugins and shared configs for regressions-- @nzakas would know how that's set up. (Not sure if we just used our Jenkins instance or what.)

[This article](https://ariya.io/2015/11/continuous-tests-of-downstream-projects) by Ariya Hidayat (creator of esprima and other cool projects) talks about how he used CircleCI for

[2016-09-17 14:48] JamesHenry commented on #92
Thanks, @platinumazure! Let's see what @nzakas thinks.

@corbinu, regarding the actual issue, this seems to be similar to other issues we have had where core rules rely on a function/method declaration to have a body.

@nzakas We could go a similar route to previous solutions here: Add a check for no body (currently we are just attaching the result of `convertChild()`) and prefix the converted `Me

[2016-09-17 14:50] JamesHenry commented on #92
@corbinu Please could link to the actual source of this code?

[2016-09-17 15:48] JamesHenry commented on #93
I have no access to a windows machine to verify this, unfortunately.

The tests setup was initially configured based on how things are done in other ESLint projects, so I am surprised that this is an issue.

@nzakas is this something you have come across before in other projects?

[2016-09-17 16:54] dannyfritz commented on #93
This is what my `.gitattributes` file looks like:
[code]

[2016-09-17 18:49] corbinu commented on #92
@JamesHenry I don't understand that is the source just clone, `npm install && npm run clone`, and then you can run any of the individual tests which are simply npm scripts

Relevant test for VSCode is here: https://gitlab.com/corbinu/eslint-typescript-smoketest/builds/4153769

It is a bit deceptive from the build as projects some of the tests are just failing on lint rules, but as things shake out

[2016-09-17 19:06] JamesHenry commented on #92
When I said source, I meant the source code that was being linted, and that caused the error. (i.e. the **What code were you trying to parse?** section above.)

Looking at the build output:

[code]

It doesn't help determine what TypeScript code it was trying to parse when the `TypeError: Cannot read property 'type' of null` was thrown, and I was therefore wondering where you got this from:

[code

[2016-09-17 19:16] corbinu commented on #92
@JamesHenry oh sorry that was trying to lint what it is "src/vscode" after the copy. I then linted simply the files one at a time and found the issue was present in: https://github.com/Microsoft/vscode/blob/master/src/vs/base/browser/builder.ts

At line 131 the builder class. I then simply reduced that code down till I got a simple example that caused the error. Thats where the test class comes fr

[2016-09-17 19:29] JamesHenry commented on #92
That's great, thanks!

[2016-09-18 19:02] corbinu commented on #92
@JamesHenry So I tracked it down to visit function in escope when visiting a function assumes it has a body. I can do a PR over there to that simply checks if the node as a body

https://github.com/estools/escope/blob/master/src/referencer.js#L226
[code]
I made that change on my machine and VSCode started parsing fine!

Otherwise is there some better way for me to try to fix this in this repo?

Th

[2016-09-18 19:13] JamesHenry commented on #92
No, we won't be changing escope for this. We need to accommodate it in the AST in a similar way to other cases.

Let's see what @nzakas thoughts are on my question to him above:

[2016-09-19 02:16] nzakas commented on #89
I don't think the ESLint rule has an error, so I wouldn't touch that.

I'm sorry I wasn't clear and didn't look close enough at the PR for using a VariableDeclaration for type declarations. My intention was to completely implement VariableDeclaration as we would any of var, let, or const, not just the top node.

[2016-09-19 17:38] nzakas commented on #93
I'm on windows, but I've had my Git setup to always checkout and commit using lf, which is probably why I haven't seen an issue. I'm :+1: on adding a `.gitattributes` if this will solve the problems for everyone.

[2016-09-19 18:03] nzakas commented on #92
Just so I understand, we're saying this is the problem?

[code]

And because I'm still not very familiar with TypeScript, I'm guessing that the extra "definitions" are really just overloading the method signature?

I think overall we need to ask: Do we want ESLint rules to check these extra method definitions or not? (Making them `TSModuleDefinition` means they won't be checked.) I'm guessing the

[2016-09-19 18:11] corbinu opened #95 "Smoke testing against popular projects"
This started when I tested the parser against VSCode and found this issue: https://github.com/eslint/typescript-eslint-parser/issues/92

The test repo can be found here: https://github.com/corbinu/eslint-typescript-smoketest

I setup a set of smoke tests that run against a few popular and large TypeScript projects. I set them up on Gitlab CI since that is what I am most familiar with. I am happy t

[2016-09-19 18:39] JamesHenry commented on #93
Sounds good to me! Are you happy to take that @dannyfritz?

[2016-09-19 18:46] dannyfritz commented on #93
That works for me. I'll try to get it in tomorrow morning.

[2016-09-19 18:51] JamesHenry commented on #92
@nzakas, yes you are exactly right.

I have been leaning towards getting through any of these parser runtime errors as quickly as possible, and worrying about the lack of linting on "special nodes" in future PRs. Purely because I feel like our users are more likely to give up and dismiss the project due to runtime errors, but will be much more forgiving of lack of coverage of TS constructs.

In ot

[2016-09-20 08:49] unlight opened #96 "no-empty rule does not work for class methods"
**What version of TypeScript are you using?**
1.8.10

**What version of `typescript-eslint-parser` are you using?**
0.3.0

**What code were you trying to parse?**
[code]

**What did you expect to happen?**
Rule `no-empty` Empty block statement should warn about `emptyFunc` on line 9.

**What happened?**
ESLint results:
[code]

[2016-09-20 08:52] unlight commented on #96
Sorry, missed `no-empty-function`

[2016-09-20 08:52] #96 closed

[2016-09-20 20:32] #89 closed

[2016-09-21 01:52] dannyfritz opened #99 "Travis Node 6.x Support"
Travis should also test with Node 6.x in addition to 0.12 and 4.x.

[2016-09-21 02:52] #93 closed

[2016-09-21 08:09] #87 closed

[2016-09-21 11:18] friedbizkvit commented on #80
@nzakas 0.3.1 wasn't published on npm. Is it jenkins fall?

[2016-09-21 23:56] nzakas commented on #95
In the short term, I think it may be best to have you keep running it and report issues. We're still in the experimental phase where we are trying to figure out the best AST structure to use for various things, so it's likely smoke tests will break frequently

Once we hit 1.0.0 and believe the project is stable, then I think it makes sense to have one or more smoke tests we manage to look for regr

[2016-09-22 01:23] corbinu commented on #95
Sounds good to me that will give me some time to mature then and then maybe somebody can help me convert them over to Jenkins

[2016-09-22 08:00] zamb3zi commented on #80
I'm still seeing this problem with 0.3.1.
[code]
Gives:
[code]

[2016-09-22 17:50] nzakas commented on #80
@friedbizkvit hmm yeah, we did have problems during the release, and I wasn't feeling good so I didn't spend a lot of time trying to figure things out. I just manually pushed now, so hopefully this fix has now been released.

[2016-09-22 18:00] nzakas commented on #92
@JamesHenry yeah, I understand the concern. My larger concern is that changing AST structure is a nontrivial change, so I'd like to avoid that whenever possible. Temporary changes mean future pain, so I'd rather take the pain now and have a smoother path forward.

@corbinu @JamesHenry do one of you want to open an issue/PR with escope?

[2016-09-22 19:13] corbinu commented on #92
@nzakas Sure but what am I saying. I guess I am a little confused by what we are going to change in escope. Are we doing my simple check to make sure that the null body cause a failure or are we needed escope to parse this in some other way?

[2016-09-22 19:35] JamesHenry commented on #80
@nzakas I can confirm this is still an issue.

It looks like escope is still reaching the `value` property of the `TSAbstractMethodDefinition` node, which is a `FunctionExpression` with `body: null`.

[2016-09-23 18:34] nzakas commented on #92
@corbinu exactly [what you posted](https://github.com/eslint/typescript-eslint-parser/issues/92#issuecomment-247866591).

[2016-09-23 18:36] JamesHenry commented on #92
I'll submit a PR to escope shortly

[2016-09-24 00:27] oojacoboo commented on #90
Any updates on 2.0 support?  `npm -i typescript` will now give you 2.0.3.  It'd be nice to have eslint support.

[2016-09-25 22:04] JamesHenry commented on #90
@oojacoboo it depends on whether or not you are using TypeScript 2.0-only syntax in your project... I am currently able to lint a large TypeScript codebase with this parser and TypeScript 2, because no backwards incompatible syntax is being used.

Full support for the new sytnax will definitely be coming soon regardless.

[2016-09-25 22:38] oojacoboo commented on #90
Thanks James, may be going the tslint route and sticking with strict typescript linting the more I review the overall setup and trying to eliminate some module complexity.

[2016-09-29 10:26] TrySound commented on #90
@JamesHenry The problem is npm which fails caz peerDependency is not valid. Can you extend version range?

[2016-09-29 21:22] #99 closed

[2016-09-29 22:34] trainerbill commented on #77
no-unused-vars is reporting an issue when you import an interface.  Don't see that in the list anywhere.

[2016-09-30 16:45] corbinu commented on #92
@nzakas not to be rude but none of the estools repos seem to have a pulse. Do you know if anybody at estools is still responsible for reviewing the issues and PRs?

If not given eslints dependence on it perhaps they would be ok with you guys taking over? Just a though don't want to push a bunch of new work on you guys. Just sounds from the roadmap like eslint 4 is going to need a few additional es

[2016-09-30 19:20] nzakas commented on #92
I'll ping the guys behind it. I do have access to the repo and publishing permissions, I just don't feel that I can push through whatever I want because of it (spirit of collaboration). We have talked about forking escope into something that we own and control, but that is a bunch of extra work and the team is already being crushed by the deluge of PRs and issues, so I don't want to do that until

[2016-09-30 19:27] corbinu commented on #92
@nzakas no worries thanks for all your great work it is much appricated! Sounds good and makes sense

[2016-10-02 08:57] corbinu commented on #92
@nzakas @JamesHenry Ok diffrent plan sounds like a lot of this plugin would benefit from escope changes. I can easily fork and update escope for eslint (update to node 4 and eslint the code and update deps etc. However I am wondering would the better option be if I create a PR for ESlint that allows plugins to override escope for there own analyzer. That way the plug could simply shim in its own v

[2016-10-03 22:23] nzakas commented on #92
I think that's a step beyond where we want to go to support this. We don't want to bundle the parser with a scope analyzer.

Give me some time to think about this a bit.

[2016-10-03 22:34] corbinu commented on #92
@nzakas Ok no worries take your time know it would be a big change thought I would suggest it as assumed allowing different analyzers would probably need to be a major version feature so thought I would suggest it before v4 was set in stone.

[2016-10-04 11:56] Guria opened #101 "files consuming react component skipped if 'react/jsx-uses-vars' enabled"
**What version of TypeScript are you using?**
2.0.3

**What version of `typescript-eslint-parser` are you using?**
0.4.0

**What code were you trying to parse?**

[code]
[code]

and few more tsx files

**What did you expect to happen?**
correct detect of using vars in jsx

**What happened?**

without 'react/jsx-uses-vars' rule I got an error
[code]

**with 'react/jsx-uses-vars' linting of file con

[2016-10-04 12:05] Guria commented on #101
sorry, I was wrong

[2016-10-04 12:05] #101 closed

[2016-10-05 00:55] awerlang commented on #92
❤️  I cannot agree more.

IMO abstract method (from issue #80) shoud be given a separate AST construct, or whatever treatment method declarations receive on interface declarations. They are not real methods, only declarations. For instance I wouldn't verify number of parameters. I would like to check them on method implementations, if issues are reported I would fix there.

Additional function sig

[2016-10-07 17:07] nzakas commented on #90
Our problem is that there are changed in TypeScript 2.0 that cause this project not to work properly, so simply changing the acceptable version of TypeScript isn't a fix. @JamesHenry is away until next week, and his plan is to start on formal 2.0 support when he returns.

[2016-10-09 17:42] oreqizer opened #102 "[Error] Decorated getter error"
**What version of TypeScript are you using?**
^2.0.3

**What version of `typescript-eslint-parser` are you using?**
^0.4.0

**What code were you trying to parse?**

I'm getting an error if I'm using a decorated getter (using Mobx). Information is in the attached _npm debug_. This is the code sample:

<img width="553" alt="screen shot 2016-10-09 at 19 35 14" src="https://cloud.githubusercontent.com

[2016-10-09 17:53] oreqizer opened #103 "[Error] JSX functional component"
**What version of TypeScript are you using?**
^2.0.3

**What version of `typescript-eslint-parser` are you using?**
^0.4.0

**What code were you trying to parse?**

<img width="289" alt="screen shot 2016-10-09 at 19 51 00" src="https://cloud.githubusercontent.com/assets/11172408/19222484/f1296294-8e59-11e6-8fed-53fd6025023f.png">

**What did you expect to happen?**
I expected it to lint the file.

[2016-10-10 14:09] JamesHenry commented on #77
@trainerbill I am back from vacation now, and this project is one of my top priorities outside of work.

Thanks, interfaces and `no-unused-vars` is known and will be handled in the complementary `eslint-plugin-typescript` project.

There have a been a number of wider topics to tackle within the wider ESLint ecosystem which affect this project, so it is difficult to estimate at this stage. Once the

[2016-10-10 14:14] JamesHenry commented on #95
Seems like we are in agreement, thanks a lot @corbinu!

I'll close this issue for now as it has no action items, please feel free to keep reporting any issues that arise from your tests.

[2016-10-10 14:14] #95 closed

[2016-10-10 14:18] JamesHenry commented on #102
Note: We do not yet officially support TypeScript 2 (although that does not mean that it does not work in all cases).

It is not clear from your debug output that this parser, or even ESLint, is the cause of your issue. Please provide more information as to what is going wrong.

What is your ESLint config?

[2016-10-10 14:19] JamesHenry commented on #103
Note: We do not yet officially support TypeScript 2 (although that does not mean that it does not work in all cases).

It is not clear from your debug output that this parser, or even ESLint, is the cause of your issue. Please provide more information as to what is going wrong.

What is your ESLint config?

[2016-10-10 14:23] oreqizer commented on #103
[code]

[2016-10-10 14:24] oreqizer commented on #102
[code]

[2016-10-10 15:18] JamesHenry commented on #102
In future, please provide more detailed source code, and in a form which can be copied. Naturally if you give me a screenshot, I have to manually type it out.

There is an error being thrown inside the core `keyword-spacing` rule in this case.

An immediate workaround for the error is to disable the rule in your eslint config:

[code]

@nzakas I have investigated this a bit:

- The error is thrown

[2016-10-10 15:19] JamesHenry commented on #103
Please provide actual source code as per https://github.com/eslint/typescript-eslint-parser/issues/102#issuecomment-252653898

[2016-10-11 20:39] oreqizer commented on #103
😅 sorry for me being non-predictive. I didn't take you wanting to copy the code into consideration

[code]

[2016-10-13 22:53] JamesHenry opened #105 "TypeScript 2.x Support"
- [x] Update typescript peerDependency to `^2.0.3` (https://github.com/eslint/typescript-eslint-parser/pull/112)
- Investigate and fix broken tests caused by updated dependency:
  - [x] `jsx/tag-names-with-dots` (https://github.com/eslint/typescript-eslint-parser/pull/108)
  - [x] `jsx/tag-names-with-multi-dots` (https://github.com/eslint/typescript-eslint-parser/pull/108)
  - [x] `basics/declare-

[2016-10-13 22:55] JamesHenry commented on #90
I am back now and keen to get TS 2 support in ASAP. Please follow along on https://github.com/eslint/typescript-eslint-parser/issues/105 for progress

[2016-10-13 22:55] #90 closed

[2016-10-13 22:57] JamesHenry commented on #103
Thanks @oreqizer, as per https://github.com/eslint/typescript-eslint-parser/issues/105 TS 2 seems to have broken some JSX related assertions, so my top priority is getting to the bottom of those so we can fully support TS 2.

Hopefully this issue you are having will be solved by that, but if not, I will loop back to this as soon as I am done with TS 2 support.

[2016-10-13 23:00] JamesHenry commented on #77
@trainerbill interfaces being marked as used is handled here: https://github.com/nzakas/eslint-plugin-typescript/pull/9

[2016-10-22 11:18] JamesHenry commented on #105
Update:

The `decorators/method-decorators/method-decorator-factory-instance-member` and `decorators/method-decorators/method-decorator-instance-member` tests fail because I just so happen to have call my made up decorator `readonly`, which became a keyword in TypeScript 2.

[2016-10-22 12:40] JamesHenry commented on #105
The `basics/declare-namespace-with-exported-function` test fails because a particular `flags` value on the `deeplyCopy()`ed TSNode has changed between TS 1.x and TS 2.x

Whilst we do use TSNode.flags for some node checks, there is not actually any reason to pass them through to the converted AST when using the `deeplyCopy()` fallback. It does not provide and current benefit, and we will always be

[2016-10-24 11:03] JamesHenry commented on #105
`jsx/tag-names-with-dots` and `jsx/tag-names-with-multi-dots` were pretty tricky to track down and fix.

The change is AST between TS 1.8.10 and TS 2.0.3 can be attributed to this PR https://github.com/Microsoft/TypeScript/pull/7645

[2016-11-05 16:18] JamesHenry commented on #50
TypeScript 2 upgrade is completed in https://github.com/eslint/typescript-eslint-parser/pull/112

[2016-11-05 16:26] dannyfritz commented on #105
Dang that was quick. ✨

[2016-11-05 16:56] corbinu commented on #105
Nice work! as soon is up will run it through my Smoke Testing (obviously most will fail still) but hopefully when Eslint 4 drops we will be 100%!

[2016-11-08 18:41] #50 closed

[2016-11-08 18:41] #105 closed

[2016-11-09 18:42] corbinu commented on #105
@JamesHenry Ran the smoke tests. No new failures.

https://gitlab.com/corbinu/eslint-typescript-smoketest/pipelines/4930979

All the failures are still in escope (as expected) except for the nativescript groceries sample which is failing on no-unused-vars and no-undef which is not un expected either.

https://gitlab.com/corbinu/eslint-typescript-smoketest/builds/6041509

[2016-11-09 18:46] JamesHenry commented on #105
Cool, thanks @corbinu! Now that TS 2 support is in, I'll be looking at the escope stuff

[2016-11-09 19:17] nzakas opened #113 "Release build broken"
When I tried to do a release, it errors out. I think this has to do with the `.gitattributes` change, but I'm unfamiliar with how that works.

Relevant log snip:

[code]

[Full log](http://jenkins.eslint.org/job/Releases/job/typescript-eslint-parser%20Release/9/console)

@JamesHenry I think this problem is somehow related to https://github.com/eslint/typescript-eslint-parser/commit/45b987421a7f183

[2016-11-09 21:29] JamesHenry commented on #113
I don't know :/

The reason I submitted that was because I was having issues after the commit to add the `.gitattributes` file (https://github.com/eslint/typescript-eslint-parser/commit/68992eb0948c44889232e051d972876acfe3bbf4 )- IIRC I always had unstaged changes as my editor was altering the line endings.

I have never needed to use `.gitattributes` before so I am afraid I do not know exactly wh

[2016-11-09 22:03] JamesHenry commented on #113
I have submitted a PR (https://github.com/eslint/typescript-eslint-parser/pull/114) based on my interpretation of the information given here: https://schacon.github.io/git/gitattributes.html

I did set the PR to close the issue, as it is impossible to verify the fix until a release job on jenkins is attempted.

[2016-11-10 02:08] dannyfritz commented on #113
#93 The original problem I was trying to solve when I originally added `.gitattributes` was that the test relied on character locations of everything, and Unix EOL uses `\n` whereas Windows uses `\r\n` which threw all the locations off and made all the tests fail on Windows. Using `.gitattributes` fixed it for me. If I am the only person with the problem, I am okay with having it as an unstaged ch

[2016-11-10 20:44] #113 closed

[2016-11-12 08:02] madcampos opened #116 "[Error] Missing JSDoc"
**What version of TypeScript are you using?**
2.0.9

**What version of `typescript-eslint-parser` are you using?**
1.0.0

**What code were you trying to parse?**

[code]

**What did you expect to happen?**
Code pass validation.

**What happened?**
Error: Missing JSDoc

[2016-11-13 13:24] JamesHenry commented on #116
Comments are not available as a configuration source yet, this is a known issue being tracked for this project here https://github.com/eslint/typescript-eslint-parser/issues/5.

The underlying solution is being worked on in ESLint core here https://github.com/eslint/eslint/issues/6724

[2016-11-13 13:24] #116 closed

[2016-11-14 11:30] avivbeeri opened #117 "AssertionError: ImportDeclaration should appear when the mode is ES6 and in the module context."
**What version of TypeScript are you using?**
2.0.9

**What version of `typescript-eslint-parser` are you using?**
1.0.0

**What code were you trying to parse?**

_index.ts_
[code]

**What did you expect to happen?**

I have no problems when I use the linter-eslint package in atom, but I wanted to run eslint standalone for a build script.

Attempting to run `./node_modules/.bin/eslint --ext ts --c

[2016-11-14 14:50] ilyavolodin commented on #117
You are missing this section in your config:
[code]
`Import/export` keywords can only be used in modules, and not scripts. By default, everything is a script, unless you specify otherwise.

[2016-11-14 14:57] avivbeeri commented on #117
Ah, that worked. Thank you very much :)

[2016-11-14 14:57] #117 closed

[2016-11-14 21:00] AdamWillden commented on #4
As this parseris now at 1.0.0 are we free to submit bug reports such as this? Can this be reopened?

[2016-11-14 21:06] JamesHenry commented on #4
@AdamWillden it is not a bug in this project (i.e. it is not problem with the parsing or the generated AST), so this will not be reopened.

The rule in ESLint core will need to be extended to take typeAnnotation nodes into account, as mentioned here https://github.com/eslint/typescript-eslint-parser/issues/77#issuecomment-244426469

[2016-11-14 21:24] AdamWillden commented on #4
@JamesHenry thanks for linking the two. Makes sense!

[2016-11-24 00:18] jtheoof opened #118 "Parser does not handle jsdoc well"
**What version of TypeScript are you using?**
2.1.1

**What version of `typescript-eslint-parser` are you using?**
1.0.0

**What code were you trying to parse?**

[code]

**What did you expect to happen?**
Syntax should parse correctly

**What happened?**
Stacktrace:

[code]

Note: If you remove the `jsdoc` comments, `eslint` does not crash anymore.

[2016-11-24 00:20] jtheoof commented on #118
In fact, if you replace:

[code]

with:

[code]

`eslint` is happy again.

[2016-11-24 00:21] jtheoof commented on #118
Probably related to #5

[2016-11-30 00:40] trainerbill commented on #77
@JamesHenry I see that 1.0 was released.  Just wondering if no-undef and no-unused-vars have been fixed.  I have quite a few and spot checking them look like most are false negatives.  Is there an ongoing list of work in progress items so we know what to submit as issues should we find one.   Appreciate all you are doing here.

[2016-11-30 10:35] JamesHenry commented on #77
@trainerbill I have been really stretched on other things over the last few weeks, but things should improve as we hit the holiday break.

We moved to v1 purely because we are following semver and the support (and requirement) for TS 2 was a breaking change.

Specifically in the case of `no-unused-vars`, I would not use a linter at all any more - the TypeScript compiler can now enforce that for yo

[2016-11-30 15:25] trainerbill commented on #77
@JamesHenry awesome.  did not know that existed in the compiler.  Thanks!

[2016-12-05 19:38] flying-sheep opened #119 "Convert Async Await to ESTree format"
* **TypeScript:** 2.1.1
* **`typescript-eslint-parser`:** 1.0.0

using eslint with this parser on that:

[code]

i got

that bug was fixed in eslint some time ago: eslint/eslint#7175

is it possible that you don’t emit a `Await` for expressions like this? because if you do, this should be treated like a call/yield, and ignored by this rule

[2016-12-05 19:56] flying-sheep opened #121 "parse() control flow is broken"
running parse('code') without options jumps directly to the end with `ast` being unset.

btw.: shouldn’t eslint detect this?

[2016-12-05 20:02] flying-sheep commented on #119
hmm, seems like it’s a

[code]

[2016-12-06 13:07] flying-sheep opened #122 "sourceCode.getTokenAfter works incorrectly on our AST"
Test:

[code]

error:

[code]

[2016-12-06 13:27] flying-sheep commented on #122
more info: for this specific rule, those visitors get called:

[code]

at one point, this happens

1. `MethodDefinition(node)` is called
2. `sourceCode.getTokenAfter(node)` is called and returns `undefined`
3. `checkForPartOfClassBody(undefined)` is called and breaks

apparently, there should always be a token after a `MethodDefinition`.

[2016-12-06 13:44] flying-sheep commented on #122
OK, this code tells me what we need to know:

[code]

the output is:

for espree:

[code]

for this parser:

[code]

i.e. somehow the AST this parser creates doesn’t allow eslint’s `getTokenAfter` to retrieve the closing brace of the class declaration.

[2016-12-08 18:06] soda0289 opened #123 "TypeError: Cannot read property 'value' of undefined - When parsing with rule space-before-function-paren"
**What version of TypeScript are you using?**
2.0.10

**What version of `typescript-eslint-parser` are you using?**
1.0.0

**What code were you trying to parse?**

[code]

**What did you expect to happen?**
It should pass validation

**What happened?**
Uncaught Exception
[code]

Eslint file
[code]

[2016-12-08 18:18] soda0289 commented on #123
Seems like babel-eslint has same problem:
https://github.com/eslint/eslint/issues/4581
https://github.com/eslint/eslint/issues/4575

[2016-12-13 17:39] soda0289 opened #125 "TypeError: Cannot read property 'loc' of undefined - When creating React Component with indent rule"
**What version of TypeScript are you using?**
2.0.10

**What version of `typescript-eslint-parser` are you using?**
1.00

**What code were you trying to parse?**

[code]

**Eslintrc**
[code]

**What did you expect to happen?**
It to parse

**What happened?**
Uncaught Exception
[code]

[2016-12-13 17:48] soda0289 opened #126 "TypeError: Cannot read property 'type' of undefined - When creating React Component with wrap-regex rule"
**What version of TypeScript are you using?**
2.0.10

**What version of `typescript-eslint-parser` are you using?**
1.0.0

**What code were you trying to parse?**

[code]

**Eslint Config**
[code]

**What did you expect to happen?**
It to parse

**What happened?**
Uncaught Exception
[code]

[2016-12-13 21:14] soda0289 commented on #125
After digging through the code it seems to be related to Issue #70
The tokens do not generate for anything past the first div

[2016-12-13 21:15] soda0289 commented on #126
Most likly duplicate of Issues #70 and #125

[2016-12-13 21:19] soda0289 commented on #70
Any update on this issue and bug in typescript?
Can you share the patch you made to typescript that was mentioned in the issue: https://github.com/Microsoft/TypeScript/issues/7471

[2016-12-13 22:05] JamesHenry commented on #70
@soda0289 TypeScript has been updated significantly since that issue was originally filed, and so I will need to look into it again, and then hopefully be in a position to submit a PR to TS.

[2016-12-13 22:10] JamesHenry commented on #126
Yes, this is a duplicate of #70 - there is no issue with (the whitespace between the JSX nodes removed):

[code]

[2016-12-13 22:10] #126 closed

[2016-12-13 22:13] JamesHenry commented on #125
Yes, again a duplicate of #70. The issue is currently with the whitespace between JSX nodes. This parses without error:

[code]

(I do realise that totally sucks 😄 I will try and get a fix merged into the TypeScript compiler as soon as possible)

[2016-12-13 22:13] #125 closed

[2016-12-13 22:20] soda0289 commented on #70
@JamesHenry
After reading the typescript issue it seems findNextToken() is an internal API. Should we consider writing our own implementation for this function that can handle JSX nodes properly?

[2016-12-13 22:50] JamesHenry commented on #70
It is still marked as being open to PRs from the community so I will be investigating that as a first option.

JSX seems to be the last remaining area which is causing problems for TypeScript + ESLint usage and so it is definitely top of my list of things to resolve!

[2016-12-13 22:57] JamesHenry commented on #119
Yes, we don't have specific conversion for async await yet.

I am going to wait on the final resolution of https://github.com/eslint/espree/pull/305 and then port the async await test suite from espree to this project

cc @nzakas

[2016-12-13 23:06] JamesHenry commented on #122
This is another duplicate of #70.

The problem is with the whitespace between the JSX nodes, amending it to the following cause the source to be parsed without error:

[code]

(I do realise that totally sucks 😄 I will try and get a fix merged into the TypeScript compiler as soon as possible)

[2016-12-13 23:06] #122 closed

[2016-12-13 23:24] flying-sheep commented on #122
aww, i invested so much detective work into the code, and then it turned out a tiny bit more in the issue tracker would have been sufficient 😢

thanks 😆

[2016-12-13 23:29] JamesHenry commented on #122
It happens! 😄

Thank you for your digging regardless @flying-sheep - it is so helpful when users are able to provide detailed context, and simple examples.

[2016-12-14 17:04] blemoine opened #127 "Namespace exported function return causing later code to be marked unreachable"
**What version of TypeScript are you using?**
TypeScript 2.1.4

**What version of `typescript-eslint-parser` are you using?**
typescript-eslint-parser@1.0.0
 eslint@3.12.1

**What code were you trying to parse?**

[code]

**What did you expect to happen?**

With

[code]

 in my config, I would expect no error (the last line is reachable, because it's exported)

**What happened?**

I get "Unreachab

[2016-12-18 09:16] flying-sheep opened #128 "Make compatible with TypeScript 2.1"
When installing TypeScript 2.1, tests start to fail. This is why travis is currently failing for every PR.

We should handle the AST it produces.

[2016-12-22 03:21] soda0289 commented on #128
I will take a look at some of these tests.

[2016-12-23 05:39] weirdpattern commented on #118
@nzakas if you don't mind, I think I may have a fix for this and a way to attributing all comment nodes (single line, multiline and jsdoc) as mentioned by @JamesHenry in #5. I think this will enable rules like valid-jsdoc and others...

Code is done, but I'm still working on the tests, so give me a couple of days and I will send a PR.

[2016-12-23 11:31] JamesHenry commented on #118
Thanks for the suggestion, @weirdpattern!

You must have missed the resolution in that issue https://github.com/eslint/typescript-eslint-parser/issues/5#issuecomment-245720268 - comment attribution will be done in an upcoming version of ESLint, not in this project, nor any other other future parsers.

[2016-12-23 13:19] weirdpattern commented on #118
@JamesHenry But we still need to identify the comments and convert them to estree nodes, right? Maybe I misunderstood the whole thing, the code I'm working on does that, identify and convert comments in typescript, let me know if this is still something we don't need and I will just move on to a different issue =)

[2016-12-31 20:30] nzakas commented on #118
Yes, comments will still need to be converted and included in the top level comments array, so I think we still need this fixed.

[2016-12-31 22:28] weirdpattern commented on #118
ok, then give me a couple of days to complete the unit tests, then I will submit a PR for you to review...

[2017-01-01 16:10] JamesHenry commented on #118
@weirdpattern The logic to scan for and convert comments was already added here https://github.com/eslint/typescript-eslint-parser/blob/41ccef5228f2b7574992e97dce78f1aa1b2dfaee/parser.js#L184-L212, but some active assertions will definitely be needed.

We currently have old espree test fixtures within attach-comments, but I think it might be best to wait until the comment attribution support lands

[2017-01-01 17:43] weirdpattern commented on #118
Makes sense, let's wait for eslint 4 to be released, then we can discuss.

thanks for taking the time to answer my questions =)

[2017-01-02 12:40] #121 closed

[2017-01-02 16:05] JamesHenry commented on #128
I'm looking into this now. I will be putting together a list of updates needed on this issue.

- [ ] exclude new `modifierFlagsCache` property during TSNode auto-conversion

[2017-01-02 18:07] JamesHenry commented on #118
This is not actually a bug in the currently supported logic (TypeScript 2.0.x).

This is an issue that applies to supporting 2.1.x, which is now being worked on in https://github.com/eslint/typescript-eslint-parser/issues/128

Closing this issue in favour of that one, particularly to avoid the confusion with comment attribution, which is a totally separate issue.

[2017-01-02 18:07] #118 closed

[2017-01-03 16:12] SteveALee commented on #61
I'm very pleased to see this work and discussion with TSLint folks. Having decided to move to TS for my libraries and components. To my mind while TSLint is great it has along way to go to catch up with the reach and community of ESLint.

I have 2 main use cases that mean TSLint is really not an option

1) to continue to use common configs like eslint-config-airbnb with the ability to add extra TS

[2017-01-03 23:34] blemoine commented on #127
I provide more information here :
 - the code above is a in file test.ts
 - my full config is :
[code]

And the full output from eslint is:

[code]

Do you need any other informations?

[2017-01-04 22:35] #123 closed

[2017-01-04 22:43] #119 closed

[2017-01-04 23:20] JamesHenry commented on #127
I can reproduce the issue with your example, thanks @blemoine. I will look into this!

[2017-01-04 23:27] JamesHenry commented on #127
The type guard is actually not relevant... It is the return statement inside an exported function from the namespace that is the key.

Here is the minimal example for reproducing the issue:
[code]

`export type Qux = true;` will currently be flagged as unreachable.

[2017-01-05 04:32] weirdpattern opened #134 "export type alias does not generate the ExportNamedDeclaration node"
**What version of TypeScript are you using?**
2.1.4

**What version of `typescript-eslint-parser` are you using?**
1.0.0, but also tested using 1.0.1

**What code were you trying to parse?**
[code]
Basically, any export type xxx = yyy

**What did you expect to happen?**
The final ESTree output should contain an ExportNamedDeclaration node whose declaration node is a VariableDeclaration of kind = t

[2017-01-05 04:49] weirdpattern commented on #134
Including a couple of screenshots
AST
<img width="334" alt="ast" src="https://cloud.githubusercontent.com/assets/19519411/21669300/050304b8-d2d0-11e6-8186-627be4374b3f.png">

ESTree
<img width="290" alt="estree" src="https://cloud.githubusercontent.com/assets/19519411/21669301/05067ac6-d2d0-11e6-818c-86db44652296.png">

[2017-01-09 15:18] NeoReyad opened #136 "Async function makes all variables constant"
**What version of TypeScript are you using?**
2.1.4

**What version of `typescript-eslint-parser` are you using?**
1.0.1

**What code were you trying to parse?**

[code]

**What did you expect to happen?**
I excepted no errors.

**What happened?**
Eslint error 'foo is constant (no-const-assign)'

[2017-01-09 15:19] NeoReyad commented on #136
@flying-sheep Any ideas?

[2017-01-09 15:30] NeoReyad commented on #136
I'm using the ts-2.1 branch rebased on master.

[2017-01-09 15:58] flying-sheep commented on #136
i’m confused: why was i subscribed to this? i don’t see an @-mention…

was there one that you removed?

[2017-01-09 16:02] NeoReyad commented on #136
Yes sorry my fault. I mentioned you in a comment but later realized that this bug is most likely caused by typescript 2.1 and not your patch. I deleted the comment as I'm still looking into the issue. Sorry about the noise.

[2017-01-09 16:14] flying-sheep commented on #136
no problem 😄

[2017-01-09 17:16] NeoReyad commented on #136
I have tested this with Typescript Version 2.0.3 and typescript-eslint-parser 1.0.1 and have run into the same problem. I believe it is because the code uses and equal comparison on bit-wise flags which becomes false when an async flag is added. We could change it to an and(&) comparison or use the utilities function like I have done in pull request (#137). I will create another pull request again

[2017-01-10 10:31] #134 closed

[2017-01-10 15:41] #136 closed

[2017-01-11 20:01] AdamWillden commented on #80
Is there any way around these errors to get it functional (albeit not supported). E.g. a development build or something.

[code]

[2017-01-12 21:25] soda0289 opened #139 "Class constructor function with space causes exception in space-before-function-paren rule"
**What version of TypeScript are you using?**
2.14

**What version of `typescript-eslint-parser` are you using?**
1.0.2 (ts-2.1)

**What code were you trying to parse?**

[code]
.eslintrc.js
[code]
**What did you expect to happen?**
To parse

**What happened?**
Uncaught Exception
[code]

[2017-01-12 21:25] soda0289 commented on #139
I will look into this issue later today.

[2017-01-13 04:54] soda0289 commented on #80
If you change that line to
` if (node.body && node.body.type === _estraverse.Syntax.BlockStatement) { `
It wont throw an error. There is still a bug where it says the Class and function are undefined but you can turn the rule off and use tsc to check for undefined variables.

I will look into writing a pull request this weekend, unless a better solution comes up.

[2017-01-13 04:59] soda0289 commented on #80
Looks like this pull request was attempted https://github.com/estools/escope/issues/111 and denied. We might need to change the node type to AbstractFunctionExpression instead of FunctionExpression so it will skip going down into escope.

[2017-01-13 14:29] soda0289 commented on #80
I have created some pull requests that will generate a body for abstract methods since the estree sepc always expects a body for function expressions. See pull request #141 and #142

[2017-01-13 14:38] soda0289 commented on #92
I have tried to fix this issue by creating a body for the FunctionExpression node. If we were to create a type annotation instead would this eliminate checks on the function style (space-before-func-param, no-unused-def and explicit-member-accessibility)

[2017-01-13 15:58] AdamWillden commented on #80
@soda0289 thank you for this.

On the assumption that what you have done is a work around rather than a valid fix (because I know nothing about any of this AST stuff) I think the work around you have proposed should be accepted to get it functional, even if this issue remains open to remove the workaround once escope is 'fixed' officially.

[2017-01-14 06:04] weirdpattern opened #143 "Parameter properties information not being capture in ESTree parameter node"
**What version of TypeScript are you using?**
2.0.10 and 2.1.5

**What version of `typescript-eslint-parser` are you using?**
1.0.2

**What code were you trying to parse?**

[code]

[code]

[code]

[code]

[code]

[code]

[code]

**What did you expect to happen?**
Parameter properties should be parsed correctly and modifiers should be part of the final ESTree parameter node.

**What happened?**
Th

[2017-01-14 06:10] weirdpattern commented on #143
I'm currently working on this. So far I can think of two possible solutions:
1. Add the `isReadonly` and `accessibility` properties to the current output node.
2. Wrap the current output in a new `TSParameterProperty` node.

This is the current code
<img width="859" alt="constructor" src="https://cloud.githubusercontent.com/assets/19519411/21952885/908ab318-d9ed-11e6-8604-079eeb568437.png">

As pa

[2017-01-14 13:42] zaggino opened #144 "ESLint throws: Cannot read property 'loc' of undefined"
**What version of TypeScript are you using?** 2.1.5
**What version of `typescript-eslint-parser` are you using?** 1.0.2

Not sure which part of code is to blame but TypeScript & TSLint work fine on the code.

[code]

fails with:

[code]

[2017-01-14 16:31] JamesHenry commented on #144
Thanks for reporting, @zaggino!

This is down to the changes in JSDoc nodes in TypeScript 2.1.x

Handling this is the remaining action item for supporting TS 2.1.x in this parser https://github.com/eslint/typescript-eslint-parser/issues/128#issuecomment-269990675

If you roll back to some TypeScript 2.0.x version then the error should go away.

[2017-01-14 16:31] #144 closed

[2017-01-14 16:33] #139 closed

[2017-01-14 23:43] zaggino commented on #144
Or I can strip the JSDoc stuff, I actually had comments like this
[code]
and changing to this also works
[code]
Thanks for the pointer!

[2017-01-15 06:42] soda0289 commented on #102
I took a look into this issue. It is caused by the keyword-spacing rule as @JamesHenry pointed out. When the `get`, `set`, or `async`  keywords are applied to a method the rule will get the first token, in this case the `@`, and check spacing around it. Since this is not a keyword found in the `KEYS` array an error occurs.

If we remove the decorator then the first token found is `get` which is a

[2017-01-15 12:49] JamesHenry commented on #80
Just FYI, we have begun work on the escope fork. It will take a little while to get everything in order, but you can expect to see a resolution to this issue soon.

[2017-01-15 12:50] JamesHenry commented on #92
Just FYI, we have begun work on the escope fork. It will take a little while to get everything in order, but you can expect to see a resolution to this issue soon.

[2017-01-17 09:18] JamesHenry commented on #128
Just FYI, I have asked for some feedback from the TypeScript on the final point, as I would love to get this over the line:

https://github.com/Microsoft/TypeScript/issues/13519

[2017-01-20 09:50] JamesHenry commented on #128
This has been confirmed as a TypeScript bug, so unfortunately the upgrade to 2.1.x is blocked for now

[2017-01-20 18:06] ajtorres9 opened #145 "[Error] Global Node Objects '__dirname' and '__filename'"
**What version of TypeScript are you using?**
2.0.3

**What version of `typescript-eslint-parser` are you using?**
1.0.2

**What code were you trying to parse?**

[code]

**What did you expect to happen?**
This project was originally pure JavaScript, my team and I are currently in the process of migrating it to TypeScript. Prior to the migration, the line: ```path: path.resolve(__dirname, './seede

[2017-01-20 19:41] jtheoof commented on #128
Thanks for the feedback @JamesHenry.

[2017-01-22 17:36] nzakas commented on #145
Can you please paste in the complete error you're seeing?

[2017-01-23 20:23] ajtorres9 commented on #145
No problem. The following image is the error produced by ESLint:

![no-undef](https://cloud.githubusercontent.com/assets/450495/22221051/2af178a4-e166-11e6-904f-19692453a7dd.png)

I am not sure if this has any relevance at all, but it looks like '__dirname' in the image has 3 underscores preceding the word "dirname" as opposed to the expected 2.

[2017-01-24 05:04] weirdpattern opened #146 "Parameters with assignations do not provide type annotation information"
What version of TypeScript are you using?
2.0.3 and 2.1.5

What version of typescript-eslint-parser are you using?
1.0.2

What code were you trying to parse?
[code]

What did you expect to happen?
Parameters with assignation must also provide type annotation information.

What happened?
Parameters with assignation are not providing type annotation information.

[2017-01-24 17:42] nzakas commented on #146
What does this mean, exactly? Are you saying the type annotation is missing from the AST?

[2017-01-24 18:09] weirdpattern commented on #146
Yes sir, the "typeAnnotation" node is missing.
I assumed the node should be part of the "left" node in the "AssignmentPattern"

[2017-01-25 13:55] latourna opened #148 "[Error] Parsing error on typed destructured object parameters"
**What version of TypeScript are you using?**
2.0.3

**What version of `typescript-eslint-parser` are you using?**
1.0.2

**What code were you trying to parse?**

[code]

**What did you expect to happen?**
Correct parsing

**What happened?**
[code]
Parsing fails when at least one parameter does not have a type assigned.

Note: 'baz' is required even if I don't want to type it
This does not work in

[2017-01-27 11:56] JamesHenry opened #149 "How to enable TypeScript 2.1.x Support"
This issue was originally tracked here: https://github.com/eslint/typescript-eslint-parser/issues/128, but it has now come to its final resolution.

Unfortunately, there was an unintentional breaking change in TypeScript around how it deals with JSDoc comments within some of its public node utility methods that we rely on in this parser.

TS Issue: https://github.com/Microsoft/TypeScript/issues/13

[2017-01-27 11:57] JamesHenry commented on #128
I have a final update on this, but this issue has gotten rather messy, and it was not my original description, so I am going to start a new one which just summarises how ts-2.1 support works for this parser.

The instructions are here: https://github.com/eslint/typescript-eslint-parser/issues/149

[2017-01-27 11:57] #128 closed

[2017-01-27 15:57] NeoReyad commented on #149
@JamesHenry could you rebase ts-2.1

[2017-01-28 12:31] JamesHenry commented on #149
@NeoReyad Done!

[2017-01-29 22:20] aboyton opened #150 "Parse error with space after the word `constructor`"
**What version of TypeScript are you using?**
2.0.10

**What version of `typescript-eslint-parser` are you using?**
1.0.2

**What code were you trying to parse?**

[code]

**What did you expect to happen?**
The code to parse. If I remove the space in `constructor ()` it parses correctly.

**What happened?**

I got the following console error.

[code]

[2017-01-29 22:45] aboyton opened #151 "Cannot make a constructor public"
**What version of TypeScript are you using?**
2.0.10

**What version of `typescript-eslint-parser` are you using?**
1.0.2

**What code were you trying to parse?**

[code]

**What did you expect to happen?**
The code to parse. If I remove the word in `public` it parses correctly. (I do realise that adding `public` doesn't really do anything, but the linter shouldn't crash when it tries to parse it.

[2017-01-30 15:30] soda0289 commented on #151
Should be fixed in master by https://github.com/eslint/typescript-eslint-parser/commit/6312383d2013285b55f310b5722c7728fbb7ef76

[2017-01-30 15:30] soda0289 commented on #150
Should be fixed in master by https://github.com/eslint/typescript-eslint-parser/commit/6312383d2013285b55f310b5722c7728fbb7ef76

[2017-01-31 21:45] soda0289 opened #152 "Class body has invalid range that breaks brace-style rule"
I noticed on the newer version of eslint (3.14) that the brace style rule fails on exported classes. The opening brace variable used in the rule is incorrect since it is pointing to the identifier 'hello'. I believe the class body node's range is wrong and is still including the identifier. Have not tested on typescript 2.0.3. Will try and submit pr with fix.

**What version of TypeScript are you

[2017-02-01 20:48] soda0289 commented on #152
This also effects typescript 2.0.3 with master. Will submit pull request with fix.

[2017-02-01 22:11] JamesHenry commented on #152
Thanks so much for your efforts, @soda0289! I've been so swamped in January but things are set to improve from next week.

[2017-02-02 03:43] soda0289 commented on #148
I was able to reproduce this parsing error with the following code:
[code]

The stacktrace:
[code]

[2017-02-02 04:11] soda0289 commented on #148
According to the typescript grammar the type is optional for interfaces and object members:
https://github.com/Microsoft/TypeScript/blob/master/doc/spec.md#391-property-signatures

Currently typescript parser assumes there is a type annotation when calling deeplyCopy(). Will submit PR with fix.

[2017-02-02 04:46] soda0289 commented on #148
Some possible bugs in typescript. I would think all the following examples are valid, at least according to the grammer:

Parses Correctly
[code]
Parsing Fails
[code]
Parses Correctly
[code]
Parsing Fails
[code]
Parses Correctly
[code]

[2017-02-02 05:38] soda0289 commented on #148
The above comment is actually fixed in TypeScript 2.1 and all examples parse correctly.

[2017-02-05 17:49] #152 closed

[2017-02-05 17:53] #146 closed

[2017-02-05 17:53] #148 closed

[2017-02-05 21:14] JamesHenry commented on #149
Rebased the `ts-2.1` branch again just now after the PR merges earlier today. I will be looking into TS 2.2.x support this week, given that it has now hit release candidate.

[2017-02-07 14:49] soda0289 commented on #127
Here is another example:
[code]

I think the problem is that the code analyzer is not creating a new code path when the function ends. Will look into this more tonight, might need to patch eslint or create a new rule in the plugin.

[2017-02-07 15:11] soda0289 commented on #145
This looks to be a bug in typescript. Any variable, function, or class declaration that starts with two underscores will have three when parsed.

Related:
https://github.com/Microsoft/TypeScript/issues/11902
https://github.com/Microsoft/TypeScript/issues/3268

Will look into a possible fix.

[2017-02-10 16:21] mattdell opened #156 "Cannot read property 'range' of undefined"
**What version of TypeScript are you using?**
2.1.5

**What version of `typescript-eslint-parser` are you using?**
1.0.2

**What code were you trying to parse?**
All of my code. I've switched from babel-parser to typescript-eslint-parser. The most useful thing I  can provide might be my .eslintrc file.
[code]

**What did you expect to happen?**
Lint my project!

**What happened?**
A horrible error

[2017-02-10 16:24] soda0289 commented on #156
Looks like you might have some JSX in your code. We have some issues parsing that at the moment. Check out this issue:
https://github.com/eslint/typescript-eslint-parser/issues/70

If you can lint one source file at a time that could help narrow it down.

[2017-02-10 16:31] mattdell commented on #156
Ah yes, this is a JSX heavy project. I can confirm this does work if I run it against a .ts file without any JSX.

Seems very related to #70 then.

[2017-02-10 16:51] monolithed commented on #123
I still see these errors:

[code]

[2017-02-10 17:02] monolithed commented on #150
@soda0289, could you make a release?

[2017-02-10 17:09] soda0289 commented on #150
@JamesHenry When is the next release?

[2017-02-10 19:52] soda0289 commented on #150
Thanks @JamesHenry. @aboyton  @monolithed Looks like we have a new release. Can you give it a try?

[2017-02-10 20:12] monolithed commented on #150
@soda0289, thanks, it works fine for me.

[2017-02-10 20:48] JamesHenry commented on #156
Please provide minimal source code which will trigger this issue, or close if it is also the JSX text issue.

I am definitely keen to get these JSX issues worked out as soon as we can, but it's important we are clear on what the different problems are.

[2017-02-10 20:49] JamesHenry commented on #151
@aboyton Please try the new release, `1.0.3`, and let us know if you have any problems.

[2017-02-10 20:49] #151 closed

[2017-02-10 20:50] JamesHenry commented on #150
Great! I'm closing this as it appears to be successfully solved by `1.0.3`

[2017-02-10 20:50] #150 closed

[2017-02-10 21:02] JamesHenry commented on #149
I'm delighted to say that the first RC of 2.2 passes all of our existing test cases on this `ts-2.1` branch, so hopefully supporting TypeScript 2.2 will be much more straightforward than 2.1.

We will look to update master as soon at 2.2 is the stable release of TypeScript

[2017-02-11 02:55] soda0289 commented on #145
I have opened a new typescript issue for this bug:
https://github.com/Microsoft/TypeScript/issues/14013

[2017-02-12 18:40] JamesHenry commented on #145
Thanks for hunting that down, @soda0289! I'll ping the TypeScript team if they don't pick up on that issue soon

[2017-02-12 19:16] JamesHenry commented on #123
@monolithed On what TypeScript version and what version of typescript-eslint-parser?

[2017-02-12 21:12] monolithed commented on #123
@JamesHenry, it seems the problem is not actual in 1.0.3

[2017-02-13 20:09] soda0289 commented on #145
Got a response from typescript. We can use the [unescapeIdentifier](https://github.com/Microsoft/TypeScript/blob/d24b6891d870dbaa6bbc358ab787da935f471186/src/compiler/utilities.ts#L402-L404) function to return the real identifier name. Will submit PR soon.

[2017-02-14 02:34] soda0289 commented on #143
I think it should be a new node, TsParameterProperty makes sense. The ESTree already allows params to contain different kinds of pattern nodes such as: AssigmentPattern, ObjectPattern, RestElement, and so on. A new node would allow for more accurate rules that could align better with Class property rules, which might not make sense with method parameter rules.

[2017-02-14 03:27] soda0289 commented on #127
I spent some more time on this.
The issue is that functions inside namespaces are given node type: TSNamespaceFunctionDeclaration instead of standard FunctionDeclaration.
https://github.com/eslint/typescript-eslint-parser/blob/master/lib/ast-converter.js#L882-L887

Not sure why this is the case but if you keep the functions type to FunctionDeclartion the rule works as expected.

[2017-02-14 03:28] weirdpattern commented on #143
I agree, I will work on this tomorrow

[2017-02-14 03:38] soda0289 commented on #127
Looks like it was to fix a bug with empty body function in namespaces:
PR: https://github.com/eslint/typescript-eslint-parser/pull/82
Issue: https://github.com/eslint/typescript-eslint-parser/issues/78

Maybe we can have it so if the there is a body to the function we keep the type to FunctionDeclaration.

What are your thoughts @JamesHenry

[2017-02-14 21:08] #145 closed

[2017-02-14 21:09] JamesHenry commented on #145
@ajtorres9 This should now be fixed on master. NPM update will likely follow once the other open PR is merged

[2017-02-14 21:20] ajtorres9 commented on #145
Thanks all for your efforts, I appreciate it. 👍

[2017-02-17 17:24] jbcpollak commented on #46
Hi @nzakas - Its been quite a few months, has any progress been made about this? I read the comment you link to, but I don't understand quite how that issue relates to this one.

Is there a work around? Should we just do `// eslint-disable-line` for now?

[2017-02-17 17:29] soda0289 commented on #46
@jbcpollak The error with node globals such as __filename and __dirname has been fixed in master. Check the issue https://github.com/eslint/typescript-eslint-parser/issues/145 for more details.

When you enable a parser in eslint it will parse all files passed into it, this includes javascript and typescript files.

If you still have problems with the master branch you can open a new issue and we

[2017-02-17 19:05] jbcpollak commented on #46
@soda0289 thanks - should I used a Git URL for the dependency or is it published to npm? Thanks!

[2017-02-17 19:11] soda0289 commented on #46
@jbcpollak We have one pull request, that fixes some JSX issues, that is waiting on a review. As soon as it is merged there will be a new release. Should not take too long but if you want to try out master today use the git url.

[2017-02-17 21:54] soda0289 opened #160 "Await node should have argument property not expression property"
Typescript: 2.1.6
Typescript-Eslint-Parser: ts-2.1
Eslint: v3.15.0

Code:
[code]

**What did you expect to happen?**
Should parse

**What happened?**
Exception
[code]

The await node should have an argument property not an expression property. Will submit PR.

[2017-02-17 22:04] soda0289 commented on #160
Estree definition:
https://github.com/estree/estree/blob/master/es2017.md

[2017-02-17 22:27] soda0289 commented on #92
This also causes the rule lines-around-directive to fail. Even after patching escope
[code]

[2017-02-18 13:38] #160 closed

[2017-02-19 20:52] soda0289 opened #162 "Declared class methods fail rules that depend on function body"
Eslint: 3.15 (with eslint-scope#master)
TypeScript: next
typescipt-eslint-parser: master

**What code were you trying to parse?**

[code]
or
[code]
or
[code]

**What did you expect to happen?**
It should parse

**What happened?**
Exception:
[code]

We should detect if the parent is being declared and not use FunctionExpression to define functions that have no body. Similar to what is done with fun

[2017-02-20 00:35] soda0289 opened #164 "JSDoc in interface with @ symbol causes node.getStart() to throw exception"
TypeScript: master
typescript-eslint-parser: ts-2.1
Eslint: 3.15

[code]

**What did you expect to happen?**
It should parse

**What happened?**
Exception from typescript when calling node.start();
[code]

[2017-02-20 00:58] soda0289 commented on #164
This is not broken in typescript 2.0.6 but is broken in typescript version > 2.1

[2017-02-20 01:28] soda0289 commented on #92
I have a fix for this that changes the FunctionExpression and MethodDeclation type to TSEmptyBodyFunctionExpression and TSEmptyBodyMethodDeclaration.

Even with the fix to eslint-scope there are still rules that depend on the fact that these node types have bodies. For example lines-around-directive and array-callback-return. I don't believe we should expect that rule authors are going to consider

[2017-02-20 05:29] zaggino opened #167 "typescript peerDependency blocks npm shrinkwrap"
Please use `"typescript": "*"` or at least `"typescript": "^2.0.0"` in `peerDependencies` as current `"typescript": "~2.0.3"` means that typescript `<2.1.0` is required.

This happens on my machine with `"typescript": "2.1.6",` and `"typescript-eslint-parser": "1.0.3",` in package.json:
[code]

[2017-02-20 06:47] soda0289 commented on #102
I have opened an issue on eslint to hopefully gain some more attention.
https://github.com/eslint/eslint/issues/8110

[2017-02-20 10:36] mattdell commented on #156
Sorry for the delay, but here's a very simple example I have:

[code]

Results in
[code]

[2017-02-20 16:57] monolithed commented on #92
I have the same error messages, but I can't find the problem in my code.

[2017-02-20 18:51] corbinu commented on #92
@monolithed This is fixed in eslint-scope, however eslint master still is using escope. Try using this fork if you want to test it out. I am not sure when this will be stable though `"eslint": "git+https://github.com/corbinu/eslint.git#eslint-scope",`

[2017-02-20 20:39] soda0289 commented on #156
This will be fixed by https://github.com/eslint/typescript-eslint-parser/pull/158

[2017-02-20 20:42] soda0289 commented on #167
We do not currently support typescript versions > 2.1. There were some issues that were introduced in 2.1 that broke the parser. These are all mostly fixed, with the exception of JSDoc comments. If you wish to use this parser with newer versions of typescript you can try the ts-2.1 branch.

Check here for more info:
https://github.com/eslint/typescript-eslint-parser/issues/149

[2017-02-20 20:48] zaggino commented on #167
The issue with that branch is similar, I cant use it with ts rc 2.2.0 because of peerDependency lock. Eslint works fine with 2.2.0 but it blocks shrinkwrap for no good reason.

[2017-02-20 20:55] soda0289 commented on #167
@zaggino You make a good point. I would like to see a ts-next or ts-rc branch that set the peer dependency to next or ^2.0.0 as you mentioned.  The problem with setting the peer dependency version higher than the one we support is that the parser will crash if new features, like mapped types, are used.

Maybe we should remove peer dependency and have the parser check the globally installed version

[2017-02-20 22:44] zaggino commented on #167
`ts-next` branch with a unrestricted peerDependency would be great 👍

[2017-02-22 16:58] soda0289 commented on #149
@JamesHenry Typescript 2.2 is released! Could we merge in this fix.

[2017-02-22 19:37] #70 closed

[2017-02-22 19:38] JamesHenry commented on #70
I'm delighted to say that this should finally be fixed on master. Release coming soon!

[2017-02-22 19:38] JamesHenry commented on #156
This should now be fixed on master, full release coming soon!

[2017-02-22 19:38] #156 closed

[2017-02-22 19:40] andersekdahl commented on #70
Fantastic, thank you!!

[2017-02-22 19:41] soda0289 commented on #103
@JamesHenry This should also be fixed by #158

[2017-02-24 12:19] andersekdahl opened #170 "Error parsing JSX with newlines (cannot read property 'type' of null="
**What version of TypeScript are you using?**
2.1.6

**What version of `typescript-eslint-parser` are you using?**
1.0.3

**What version of `eslint` are you using?**
3.16.1

**My .eslintrc.json**
[code]

**What code were you trying to parse?**

[code]

**What did you expect to happen?**
Should be able to parse it.

**What happened?**
Got this error:
[code]

Changing the code to this:
[code]
Seems

[2017-02-24 12:25] JamesHenry commented on #170
@andersekdahl Please try this on master, the JSX fix has not yet been released to npm

[2017-02-24 13:12] andersekdahl commented on #170
Ah, sorry! I'll try it out.

[2017-02-24 14:39] #149 closed

[2017-02-24 15:02] JamesHenry commented on #170
We have just released version `2.0.0` on npm.

Please let me know if you still have the issue with that!

[2017-02-24 15:03] JamesHenry commented on #103
We have just released `2.0.0` to support the latest stable TypeScript release.

@oreqizer Please could you see if you still have the issue with that version?

[2017-02-24 16:43] soda0289 opened #171 "DeleteExpression and VoidExpression are not translated to ESTree UnaryExpression"
**What version of TypeScript are you using?**
2.2.1

**What version of `typescript-eslint-parser` are you using?**
2.0

**What code were you trying to parse?**

[code]

**What did you expect to happen?**
Should generate ESTree node UnaryExpression with correct operator.

**What happened?**
Incorrect node is generated

Will post example later today. Should be simple fix.

[2017-02-24 16:44] soda0289 commented on #171
This causes the no-unused-expressions rule to throw false positives on delete expressions.

[2017-02-24 16:48] JamesHenry commented on #171
Ah! I found this months ago and totally forgot about it. Thanks @soda0289! No example necessary

[2017-02-24 19:38] evollu commented on #170
I have similar issue
I get `Cannot read property 'type' of undefined` on tsx files. ts file runs fine

Typescript 2.2.1
using Eslint plugin

[2017-02-24 20:02] soda0289 commented on #170
@evollu Can you narrow down the code exactly. This could be another unrelated issue. The code posted above works as I have just tested it on TS 2.2.1 Parser 2.0.0. and ESLint 3.16.1

[2017-02-24 20:05] JamesHenry commented on #170
@evollu For clarity please open a new issue with full source code and ESLint config details.

Thanks for confirming this issue has been resolved @soda0289, I am going to close it

[2017-02-24 20:05] #170 closed

[2017-02-24 20:09] evollu opened #172 "getting `Cannot read property 'type' of undefined` on tsx file"
**What version of TypeScript are you using?**
2.2.1

**What version of `typescript-eslint-parser` are you using?**
2.0.0

**What code were you trying to parse?**

[code]

**What happened?**

I get warning `Cannot read property 'type' of undefined` from vscode
Error from console
[code]

**Extra info**
I'm using eslint plugin with vscode

**eslint.rc**
[code]

[2017-02-24 20:44] soda0289 commented on #172
Hmm I'm having some difficulty reproducing the issue. Are you checking eslint with the command line tool installed globally or using a text editor or gulp task that would be installed locally?

[2017-02-24 20:45] JamesHenry commented on #172
@evollu The current version of VSCode will not use TypeScript 2.2.1 by default, have you configured it to use your local workspace version?

[2017-02-24 20:52] evollu commented on #172
both are throwing error but lets say it is just the command line
I just updated eslint to v3.16.1 and the error is gone.
but now it throws error on react plugin
[code]
@JamesHenry I'm testing with command line with npm local packages. so the version should be correct and using ts 2.2.1

[2017-02-24 21:05] soda0289 commented on #172
Thanks I can reproduce this error. It comes from the eslint source-code util. The function getNodeByRangeIndex() is failing to return a token. The function can be found here:
https://github.com/eslint/eslint/blob/v3.16.1/lib/util/source-code.js#L278-L300

This is most likely a problem with estraverse not entering the JSX node or invalid ranges in JSX nodes. More investigation will have to be done.

[2017-02-25 01:31] wesleycho opened #173 "Decorators cause parsing errors"
**What version of TypeScript are you using?**
2.2.1

**What version of `typescript-eslint-parser` are you using?**
2.0.0

**What code were you trying to parse?**

[code]

**What did you expect to happen?**
I expected this to be linted properly

**What happened?**
eslint threw an error on this line: https://github.com/eslint/eslint/blob/4e52cfcf5314cac46e8d3688141a573016e7efb1/lib/rules/keyword-spa

[2017-02-25 02:23] soda0289 commented on #173
@wesleycho I believe this is a duplicate of https://github.com/eslint/typescript-eslint-parser/issues/102.
We were able to get this fixed in eslint/master with this PR: https://github.com/eslint/eslint/pull/8111

The problem with decorators was only with get, set or async class methods. The old logic would try and find the first keyword and not the first keyword that was get, set or async next to

[2017-02-25 13:45] wesleycho commented on #173
Yup, what I posted wasn't the root cause, but where the error was getting thrown.

Looks like you are correct - thanks for that information!

[2017-02-25 13:45] #173 closed

[2017-02-25 17:34] soda0289 commented on #171
Ill work on this today. Will submit PR soon

[2017-02-26 01:05] soda0289 commented on #172
I had some free time to dig into this. The exception you posted had nothing to do with eslint like I originally thought. The react plugin depends on the token nodes to contain a start and end property, something that this parser did not produce. This caused the function getNodeByRangeIndex() to have an index of undefined which resulted in a null token being returned.

I also found some other bugs

[2017-02-26 17:29] #171 closed

[2017-02-26 17:48] JamesHenry commented on #172
Hmm this shouldn't have been closed by a single PR I don't think @soda0289?

[2017-02-26 17:51] soda0289 commented on #172
@JamesHenry The issue mentioned above is caused by the missing start and end properties from the token nodes. But I found other JSX issues when testing the react plugin. I used the same issue number instead of opening a second one.

[2017-02-26 17:53] JamesHenry commented on #172
Cool, so the way to handle that in future is to use "refs" instead of "fixes".

http://eslint.org/docs/developer-guide/contributing/pull-requests#step-2-make-your-changes

[2017-02-26 17:54] soda0289 commented on #172
@JamesHenry Sorry will be sure to use correct tags next time.

[2017-02-26 17:56] #164 closed

[2017-02-26 18:00] #172 closed

[2017-02-26 18:01] JamesHenry commented on #172
@soda0289, no worries!

[2017-02-27 16:01] #143 closed

[2017-02-28 20:34] corbinu commented on #162
@soda0289 So just ran a smoke test with the latest eslint#master which switched to eslint-scope and the latest version of this repo with the your #166, #165, and #163 PRs added in

I set ALL eslint rules to warn plus all the rules for these plugins:
- eslint-plugin-import
- eslint-plugin-lodash
- eslint-plugin-mysticatea
- eslint-plugin-node
- eslint-plugin-promise
- eslint-plugin-unicorn

Plus ob

[2017-02-28 20:37] soda0289 commented on #162
@corbinu I have been using your smoke test and have found several issues. I have also linted the typescript code base without error which is pretty cool. Thanks for taking the time to create it!

I will take a look at those plugins and see if they I can fix them up.

[2017-02-28 20:39] corbinu commented on #162
@soda0289 Oh I didn't know anybody was using it will push the latest version. It has gotten a lot more complex so need to just make it totally automated again.

Thanks I am going to work on if I can replicate each of those projects tslint configs and open issues for bad warnings.

[2017-02-28 22:27] soda0289 commented on #162
@JamesHenry Should we update the README and start accepting issues for rules producing incorrect errors/warnings?

[2017-02-28 22:29] corbinu commented on #162
@soda0289 Sorry yes I am happy to hold off. Or maybe we should just open one issue either here or on the typescript plugin to track all known incorrect rules.

[2017-02-28 22:33] soda0289 commented on #162
@corbinu I'd like to write a test suite for integration tests between typescript parser and eslint rules, which I think should be part of this parser. We already have an issue https://github.com/eslint/typescript-eslint-parser/issues/77 for tracking some rule failures. Hold off until we hear from @JamesHenry, see if he's ok with opening issues here, adding them to #77, or posting them in the types

[2017-03-01 05:13] corbinu commented on #162
@soda0289 Ok either way I will finish up my update to the smoke tests and start figuring out what rules are broke and how to make. At this point I just want to figure out how much and what work needs to be done to make this a valid replacement to TSLint for those projects

[2017-03-01 11:42] JamesHenry commented on #162
Thanks guys!

It's my view that we just look to get everything to a place where it is not throwing errors. Some of these known issues have been around for a long time, delayed by the idea of a perfect solution. I think we should do whatever we can now to resolve those, and I will give some proper thought to your PRs @soda0289. Thanks, as always.

I also want to refactor the codebase, and massively

[2017-03-04 09:03] mightyiam opened #179 "Interface imports not parsed out"
**What version of TypeScript are you using?**
See `package.json`.

**What version of `typescript-eslint-parser` are you using?**
See `package.json`.

**What code were you trying to parse?**

See repository:
https://github.com/mightyiam/cyclejs-web-components/pull/13

**What did you expect to happen?**

Interface imports should have been parsed out.

**What happened?**

They seem to have remained,

[2017-03-04 11:34] ikokostya commented on #77
`noUnusedLocals` and `noUnusedParameters` are not configurable like `eslint`'s `no-unused-vars`. See https://github.com/buzinas/tslint-eslint-rules/issues/171

[2017-03-04 22:18] soda0289 commented on #179
I don't have a lot of free time to dig into this. Could you post a short code sample that reproduces the failure. The output in travis does not say what rule is failing so it is hard to diagnose the problem. Could you use the eslint from the command line and post the output from there.

If I had to guess it looks like the no-unused-vars or no-undef rule. Both of these rules are known to not curren

[2017-03-04 22:24] soda0289 commented on #77
@ikokostya Currently eslint and escope do not traverse into all parts of the generated AST causing certain variables and declarations to not be marked as used. This is a known issue and should be fixed in eslint 4.0. Check this issue for more details: https://github.com/eslint/eslint/issues/7129 There might be some other work arounds, like custom rules in typescript-eslint-plugin, but I have not l

[2017-03-04 22:28] soda0289 commented on #102
Should be fixed in eslint 3.17

[2017-03-06 14:04] JamesHenry opened #180 "TypeScript calls DoWhileStatement a DoStatement"
This means that the current AST we are outputting for DoWhileStatements is incorrect (we are auto-converting the node as TSDoStatement)

[2017-03-06 14:28] #180 closed

[2017-03-09 21:12] AndrewGuenther opened #182 "no-multi-spaces triggers on comments"
**What version of TypeScript are you using?**
2.2.1

**What version of `typescript-eslint-parser` are you using?**
2.0.0

**What code were you trying to parse?**

[code]

**What did you expect to happen?**
Passes eslint when `no-multi-spaces` is enabled

**What happened?**
Failed eslint

[2017-03-09 22:22] corbinu commented on #182
@AndrewGuenther Sorry this project is still a bit of a work in progress this issue is fixed by a waiting PR

More info here:

https://github.com/eslint/typescript-eslint-parser/issues/162

[2017-03-17 13:35] Pajn opened #184 "Type Arguments to Call Expressions not preserved in the AST"
For prettier/prettier#13 all type information must be preserved in the AST

PR #183 tries to address this

[2017-03-17 15:54] Pajn opened #185 "How to hande declare var stataments?"
Another thing I run in to when playing with prettier/prettier/issues/13 is `declare var` statements.

Currently prettier transforms
[code]
to
[code]
(the *declare* modifier is gone)

If we want to follow the Flow AST typescript-eslint-parser must parse it into an `DeclareVariable` node.
The `DeclareVariable` node is basically a `VariableDeclarator` directly (which otherwise are elements in the `de

[2017-03-17 16:11] soda0289 commented on #185
I have PR https://github.com/eslint/typescript-eslint-parser/pull/163 that does something similar for declared classes.

I think we should use a new node. Something like TSAmbientVariable or TSVariableDeclaration. I don't really think we should copy the flow node types since typescript has its own unique features as you mentioned.

[2017-03-17 21:36] Pajn opened #186 "Whenever a parameter is optional ot not should be stored in the AST"
e in this example should have an `optional: true` flag
[code]

[2017-03-17 21:53] Pajn opened #188 "Type parameter constraints should be stored in the AST"
For example `{}` should be stored in this example:
[code]

[2017-03-18 14:47] Pajn opened #190 "Type Annotation on ClassParameter not preserved in AST"
For example in this code
[code]
the `string` and `number` information is lost

[2017-03-18 15:06] #190 closed

[2017-03-18 15:52] #186 closed

[2017-03-18 17:20] JamesHenry commented on #162
So sorry for the delay on this guys. I herniated a disc in my lower back and have been unable to work (or even stand/walk) for a lot of the last few weeks. Well on the road to recovery now though and excited to focus on this again

[2017-03-18 17:25] #188 closed

[2017-03-18 17:28] JamesHenry commented on #103
Closing as no feedback to the contrary was given. Please feel free to reopen if it is still an issue.

[2017-03-18 17:28] #103 closed

[2017-03-18 17:29] #102 closed

[2017-03-18 17:31] soda0289 commented on #162
@JamesHenry glad to hear your doing well!

This issue and the other PR's all try to solve the scenario where we have functions with empty bodies. The fix we have in eslint-scope allows for the rules to run but there are many that expect function bodies. I think we should either fix the rules, which might be difficult and hard for rule authors to understand, or label the different kinds of empty bo

[2017-03-18 17:31] corbinu commented on #162
Glad your on the mend. No worries on the delay :)

[2017-03-18 20:18] soda0289 commented on #162
@corbinu

I tested the rules you posted.
The eslint-plugin-node rule:
node/no-unsupported-features
This is a bug in the typescript parser thinking that `new xml.XmlParser` is a metaproperty when it is just a new expression. Will submit PR.

import/newline-after-import
Is failing because it assumes all import statements are inside of the a Program node. In typescript you can have import and export

[2017-03-18 21:05] soda0289 opened #194 "MetaProperty nodes are not converted correctly"
**What version of TypeScript are you using?**
2.2.1

**What version of `typescript-eslint-parser` are you using?**
2.0.0

**What code were you trying to parse?**

[code]

**What did you expect to happen?**
`new foo.bar()` should generate a NewExpression node
`new.target()` should generate a MetaProperty node

**What happened?**
They both generate invalid MetaProperty nodes

PR will be up soon

[2017-03-18 22:32] #194 closed

[2017-03-19 02:02] corbinu commented on #162
Amazing work thanks!

[2017-03-19 12:19] #184 closed

[2017-03-19 15:01] Pajn opened #197 "Normalize type arguments and parameters for all nodes"
To make the output more consistent `deeplyClone` should normalize type arguments and type parameters as well.

[2017-03-19 19:53] ChristopherBiscardi opened #200 "Mention Babylon AST in README"
Docs mention ESTree-compatible AST but don't link to the Babylon AST, which is what VariableDeclarator, etc come from.

[2017-03-19 19:57] ChristopherBiscardi commented on #200
filed due to commit conventions in #199, but perhaps the PR is not the right code.

[2017-03-19 23:46] #200 closed

[2017-03-20 11:04] Pajn opened #201 "Should Interfaces be converted?"
I have started implementing support for interfaces in prettier but as the TS AST is a bit different than the ESTree it does not integrate as nice as other features have so far.

Flow does use `ObjectTypeAnnotation` for the body of the interface, similarly to how classes have a `ClassBody` node.

As the interface bodies can be quite different from my understanding (TS support a lot of (strange?) sy

[2017-03-20 12:21] Pajn opened #202 "Type parameters for methods is not preserved"
`<T>` is missing in
[code]

[2017-03-20 13:50] Pajn opened #204 "Nested type arguments are not preserved"
For the code below only `:Array<Array>` is preserved
[code]

[2017-03-20 14:35] Pajn opened #206 "Optional methods are not marked as optional"
These two produce the same AST
[code]

[2017-03-25 19:47] QuantumInformation opened #208 "Undefined warnings for variables in ref files"
**What version of TypeScript are you using?**
2.1.4

**What version of `typescript-eslint-parser` are you using?**

^2.0.0
**What code were you trying to parse?**
https://github.com/QuantumInformation/Density-Wars/blob/master/client/Game.ts

**What did you expect to happen?**

Have no warnings for variables declared in REF declarations: (BABYLON  )
https://github.com/QuantumInformation/Density-War

[2017-03-25 20:42] soda0289 commented on #208
We do not currently parse reference files. If we did we would still need an eslint plugin rule to parse the typing declarations and add them to the global scope. This could be done in the future.

A workaround would be to use an import statement instead of the reference file. For example:
[code]
If you get a warning about no types found you can install them but it looks like the library might come

[2017-03-25 20:53] QuantumInformation commented on #208
Thanks, originally I used `import BABYLON from 'babylonjs';` but was having build errors with webpack and now I just copy the babylon lib to the public dir. I guess I can just ignore undef vars for now. What do you think?

[2017-03-25 21:57] soda0289 commented on #208
There are some other errors with no-undef, when using interfaces, that cause false positives. So it would be best to leave it off. Typescript compiler has built in handling of no undefined parameters and local variables with noUnusedLocals and noUnusedParameters.

You can check this issue for other problems with eslint rules and this typescript parser:
https://github.com/eslint/typescript-eslint-p

[2017-03-25 22:20] QuantumInformation commented on #208
I might just use this https://github.com/blakeembrey/tslint-config-standard

[2017-03-25 22:21] QuantumInformation commented on #208
I'm not sure if it uses this lib or not.

[2017-03-25 22:53] soda0289 commented on #208
I think that uses tslint, which is a greater linter as well just has less rules and configuration options. Eslint still needs some more work to allow for all the current rules to work. This is being worked on and will continue to get better.

[2017-03-25 22:55] QuantumInformation commented on #208
Okay I will stick with the status quo on this project
--

Kind regards

Nikos
quantumjs.com

[2017-03-25 23:22] QuantumInformation commented on #179
For no-unused-vars I am getting false positives for valid ts code:

`import { IGameUnit } from "../gameUnits/IGameUnit";`

which is used:

![image](https://cloud.githubusercontent.com/assets/216566/24326920/de014dfe-11b1-11e7-99dc-18eb3a266a6f.png)

any ideas?

[2017-03-26 20:03] soda0289 commented on #179
@QuantumInformation This is a known issue. We are working on making eslint traverse type annotations and decorators to allow for the rule no-unused-vars to work as expected.

Check out this issue for progress:
https://github.com/eslint/eslint/issues/7129

I have created a patch to  get this to work with eslint-scope.
https://github.com/eslint/eslint-scope/pull/26

 We currently use a rule in types

[2017-03-27 03:28] soda0289 commented on #201
I agree that we should have a TS prefix for all interface node types. There might be a benefit in the future to use the same names as flow, like sharing eslint rule, but I do not see one currently.

I do think we should use a body property inside of the TSInterfaceDeclaration as this seems to fit with the estree style. I also think then it would make sense to have a body property inside of TSInter

[2017-03-27 10:40] QuantumInformation commented on #179
thanks guys

[2017-03-29 14:49] mattdell opened #209 "export enum ?"
**What version of TypeScript are you using?**
2.2.1

**What version of `typescript-eslint-parser` are you using?**
2.0.0

**What code were you trying to parse?**

[code]

**What did you expect to happen?**
I expected eslint to parse my file.

**What happened?**
error  Parsing error: Unexpected token

Should this work with the current version of typescript-eslint-parser?

[2017-03-29 15:25] soda0289 commented on #209
I'm having trouble reproducing this. Are you using any plugins are you sure typescript-eslint-parser is installed?

Is this being run from the command line eslint tool?

This is the output I get with the code sample:
[code]

[2017-03-31 09:20] mattdell commented on #209
Let's close this. I'm not confident that my configuration was correct.

[2017-03-31 09:20] #209 closed

[2017-04-01 18:04] #202 closed

[2017-04-01 18:11] #204 closed

[2017-04-01 18:17] #206 closed

[2017-04-02 18:09] Pajn commented on #201
What goes in interface bodies are very similar (or even the same?) as what goes into TypeLiters/Object types. So I think wrapping properties should be either done for both or none to avoid having two different structures for very similar code.
Personally I'm a bit against wrapping the properties because many of the nodes that goes in the interface and type literal bodies does not have a property i

[2017-04-02 18:37] soda0289 commented on #201
Are you saying we should not use `TSInterfaceBody` inside of `TSInterfaceDeclaration`? I was trying to mimic how estree handles Classes since an interface has similar properties to that of a abstract class, such as extending. I agree we should use the same structure for Object Types as well since they are very similar to interfaces

[2017-04-02 19:42] Pajn commented on #201
Sorry I got a bit confused, it was `TSInterfaceProperty` I was thinking about.
A `TSInterfaceBody` would be great. What I thought was that every property inside the body was wrapped as well but that is not the case, it's just how methods are converted so ignore that.
But now I guess `TSInterfaceProperty` is just one of many node types that can appear inside an interface?

[2017-04-02 21:10] soda0289 commented on #201
Yes I believe we should have several node types in an `TSInterfaceBody`. Right now an object type or interface can have the following members: `TSPropertySignature`, `TSMethodSignature`, and `TSIndexSignature`. Might be more that I haven't thought of.

Maybe we should not use the name `TSInterfaceProperty` and just stick with `TSPropertySignature`. All of these would contain a name, which would be

[2017-04-04 16:10] mattdell opened #210 "Cannot read property 'type' of null at EventEmitter.JSXOpeningElement"
**What version of TypeScript are you using?**
2.2.1

**What version of `typescript-eslint-parser` are you using?**
2.0.0

**What code were you trying to parse?**

[code]

**What did you expect to happen?**
Parse all the things!

**What happened?**
`Cannot read property 'type' of null at EventEmitter.JSXOpeningElement ...`

This seems to parse fine without the `<h2>` block.

[2017-04-04 16:16] soda0289 commented on #210
Could you try the master branch. There is a JSX fix in there that has not been released yet and might fix the problem.

Are you using eslint-plugin-react or is this just with eslint core rules? I think some rules do not work properly in that plugin. Also could you post the full stack trace if possible.

[2017-04-04 16:20] mattdell commented on #210
Thanks for the speedy response. I'll try this master branch shortly.

Couldn't post the full stack because of having to use two computers. Will get a full stack for you asap.

[2017-04-04 18:53] Aladdin-ADD opened #211 "npm run test => error"
If there is a configuration file in the parent directory, like this
[code]
`npm run test` output errors:
[code]
Is this expected? thanks in advance for your kindly response. 😄

[2017-04-04 19:14] soda0289 commented on #211
I'm not sure if eslint is supposed to load a configuration file from a parent directory when it find one in the current directory. Will look into this tonight.

[2017-04-04 19:33] Pajn commented on #201
That looks great!
On top of my head is `TSCallSignature` and `TSConstructSignature` as well, and these doesn't have any identifier but that shouldn't be a problem with that scheme.

[2017-04-04 19:37] soda0289 commented on #201
Yes `TSCallSignature` and `TSConsturctSignature` as well.

I can create a PR for this, unless you have some time available.

[2017-04-04 19:41] platinumazure commented on #211
@soda0289 @Aladdin-ADD ESLint will continue to search parent directories for configurations until it finds one with `"root": true` in it. Best practice is to mark the configuration at the root of your project with `"root": true`.

[2017-04-04 19:42] soda0289 commented on #211
@platinumazure Thanks. Will be an easy fix.

[2017-04-04 19:47] Pajn commented on #201
Take it if you want, but otherwise I should be able to get to it sometime this week.
Will need it for the next PR to prettier but there are other things to do as well so I'll make myself busy in either case :)

[2017-04-04 20:35] mattdell commented on #210
I've put my package.json to the last commit in the master branch, like so...

[code]

... but that still gives an error. I get the same (different) error now even if I use 2.0.0. The only difference is the initial error is on a PC and the below is on a Mac. 🤔

The full stack is
[code]

[2017-04-04 21:12] soda0289 commented on #210
This sounds similar to this issue:
https://github.com/eslint/typescript-eslint-parser/issues/172

You need to make sure that typescript 2.21 or 2.2.2 is installed since previous versions had a bug when traversing JSX tokens.

If you are running eslint from the command line it will use the globally installed version of typescript-eslint-parser, not the one installed via package.json. It will also u

[2017-04-04 21:36] mattdell commented on #210
Thanks for the tip. I didn't know about it using the global typescript version on the command line. #172 gave me the idea to update eslint to latest, along with all associated plugins and config.

That has resulted in a minor success...

[code]

Have you seen this one before?

[2017-04-04 21:42] soda0289 commented on #210
Yes unfortunately there are a couple of rules in react plugin that do not work:
[code]

There could be more and some might work in your code base.

I think most of the issues have to do with the way typescript finds the next JSX token which is causing errors or sometimes infinite loops. Will need to spend more time looking into.

[2017-04-04 21:54] mattdell commented on #210
That's good to know. I should just be able to disable those rules (for now) and then happy days?

[code]

Doesn't seem to rid the issue. 🤔

[2017-04-04 22:03] soda0289 commented on #210
Sorry, I had a typo in my original answer:
`react/no-unsecaped-entites` should be `react/no-unsecaped-entities`

[2017-04-04 22:07] mattdell commented on #210
Actually one more typo... it's `react/no-unescaped-entities`.

More importantly, it works! 🎉 🎉 🎉

Any idea when you'll be pushing master to npm?

[2017-04-04 22:08] soda0289 commented on #210
I'm sorry I suck at typing 😄

I will open a new issue with a list of known issues for react-plugin. I'm glad you got it working!

[2017-04-04 22:09] soda0289 commented on #210
I will try to push a new version today.

[2017-04-05 00:02] #211 closed

[2017-04-05 00:47] soda0289 commented on #210
@mattdell typescript-eslint-parser 2.1 has been released. I will open a new issue about react plugin issues

[2017-04-05 00:47] #210 closed

[2017-04-05 01:03] soda0289 opened #213 "Known issues with JSX and eslint-plugin-react"
Since typescript v2.2 and typescript-eslint-parser v2.1 JSX parsing has significantly improved. All of the eslint rules should work as expected with JSX. We have also tested the eslint-plugin-jsx-a11y and have found no issues.

Most of the rules in eslint-plugin-react work except for the following:
[code]

Work still needs to be done to investigate the issue with each rule to determine exactly whe

[2017-04-05 01:55] corbinu commented on #213
@soda0289 I will make sure to add the react plugin to my smoke tests. I know I still need to release a new version. Just been busy with work work :)

[2017-04-05 02:23] soda0289 commented on #213
Thanks @corbinu. We will need to find some projects that use typescript and react.
The only one I can think of is [Apollo React Client](https://github.com/apollographql/react-apollo) and it is tiny. We should start working on integration tests between all these rules and typescript parser as well.

I don't think the rules cause any crashes just false positives or incorrect line/column numbers. I n

[2017-04-05 02:49] corbinu commented on #213
I just added the plugin and https://github.com/alm-tools/alm

Will try to push the update tomorrow and then shouldn't be hard for us to make a list.

[2017-04-09 09:25] #167 closed

[2017-04-09 09:33] JamesHenry commented on #5
ESLint 4.0.0-alpha.0 has been released and I can confirm that ESLint comments are working with TypeScript!!!

🎉

It can be installed using `eslint@next`, see this post for more details http://eslint.org/blog/2017/04/eslint-v4.0.0-alpha.0-released

[2017-04-10 15:32] soda0289 opened #215 "False positive with no-inline-comments in ESLint v4"
**What version of TypeScript are you using?**
2.2.1

**What version of `typescript-eslint-parser` are you using?**
2.1

**What code were you trying to parse?**

[code]

**What did you expect to happen?**
It should not error for rule no-inline-comments

**What happened?**
It showed error for no-inline-comments. When using espree parser the error goes away.

[2017-04-11 02:32] bradzacher opened #216 "Typescript finds comment inside of template string"
**What version of TypeScript are you using?**
2.2.1

**What version of `typescript-eslint-parser` are you using?**
2.1.0

**What code were you trying to parse?**
[code]

**What happened?**
[code]

note that these files seem to work fine, which leads me to believe it's a problem with the asterisk in the template string.
[code]
[code]

[2017-04-11 02:58] soda0289 commented on #216
I was able to reproduce this problem. It seems to not be present in v4 alpha of eslint indent rule. Looks like when we try and find the first token of the expressions statement `module.exports = str;` it return null instead of `module`. Will investigate more, thanks for the info.

[2017-04-11 03:18] soda0289 commented on #216
Temporary workaround is to downgrade to eslint version 3.15.0.

There was an upgrade to the eslint token-store that will skip over tokens enclosed in a comment. It seems typescript parer thinks that everything after the `/*` is a comment. This likely explains this other issue: #215. I have a feeling this is a bug in typescript since changing the template string to a single/double quoted string fix

[2017-04-11 03:50] soda0289 commented on #216
I have opened a typescript issue:
https://github.com/Microsoft/TypeScript/issues/15115

[2017-04-11 03:51] soda0289 commented on #215
Duplicate of #216

[2017-04-11 03:51] #215 closed

[2017-04-11 04:57] soda0289 commented on #216
Looks like this is not a bug in typescript but a misuse of the typescript scanner. We need a better way to find comments. I have started one solution but need to spend more time finding one that covers all cases. Will post fix soon.

[2017-04-12 05:31] scottohara commented on #77
I'm a little confused about the current status of TS support.

I planning the conversion an existing ES2016 codebase to TS, initially with minimal changes except for:
* adding type annotations
* using shorthand creation of class properties from constructor args, e.g:

[code]
instead of

[code]

As a test, I copied the existing `.eslintrc.json` into a new project, installed `typescript-eslint-parse

[2017-04-12 08:08] scottohara commented on #77
Ah, it looks like I may need to explicitly enable the `typescript/no-unused-vars` rule? (which isn't listed in the README)

[2017-04-12 10:57] flying-sheep opened #217 "ImportDeclaration.parent is not expected to be a TSModuleDeclaration"
the rule `import/newline-after-import` accesses a `ImportDeclaration`’s parent, expecting it to [have a `body`](https://github.com/benmosher/eslint-plugin-import/blob/6288cf93e73c3530845609d23fb829c379e357d8/src/rules/newline-after-import.js#L98)

that’s not true if you encounter a `TSModuleDeclaration` → `TSModuleBlock` → `ImportDeclaration`:

[code]

a fix for this specific problem would be a vi

[2017-04-12 12:00] soda0289 commented on #217
I have seen this one before. If I remember correctly it doesnt cuase a crash. But it expects that the parent is the Program node, which is true for es6. Not sure if we should update our produced ast nodes or fix the plugin. But in this case it might make sense to use the property body instead of statements. I think class nodes use body property can't remember which nodes, if any, use the statement

[2017-04-12 12:57] soda0289 commented on #77
@scottohara The typescript plugin rule `no-unused` will correctly mark decorators as used and will soon have support for type annotations as well. You will need to use the master branch of this plugin as the one on npmjs is quite outdated.

[2017-04-12 13:32] flying-sheep commented on #217
it crashed for me:

[code]

[2017-04-12 13:35] soda0289 commented on #217
Do you want to submit a PR to rename `statements` property to `body`? I looked in the ESTree spec and they never use statements as a property only body. I think we should follow that same pattern.

[2017-04-12 13:44] flying-sheep commented on #77
i have a tiny test case for tree `'no-undef'` failures:

[code]

[2017-04-12 14:10] flying-sheep commented on #217
Done: #218

[2017-04-14 22:28] soda0289 opened #220 "Upgrade to ES6 and drop support for Node version < 4"
Currently this parser still supports Node version 0.10 and uses ESLint v2 for linting. We should upgrade the codebase to ES6, using const and let, and stop using the assign library when the native `Object.assign()` can be used instead.

[2017-04-18 07:32] unlight opened #222 "Class constructor overloads throws TypeError: Cannot read property 'type' of null"
**What version of TypeScript are you using?**
typescript@2.2.2

**What version of `typescript-eslint-parser` are you using?**
typescript-eslint-parser@2.1.0

**What code were you trying to parse?**

[code]

**What did you expect to happen?**
No errors

**What happened?**
[code]

[2017-04-18 13:07] soda0289 commented on #222
This is a duplicate of this issue:
https://github.com/eslint/typescript-eslint-parser/issues/92

The problem was that escope did not know how to handle functions with empty bodies. We have since forked escope and will release it with eslint v4. There are still some rules that will crash when they see empty body functions but we are working to correct them.

[2017-04-18 13:07] #222 closed

[2017-04-18 16:24] mattdell opened #223 "Imported interfaces are considered not used by no-unused-vars rule"
**What version of TypeScript are you using?**
2.2.2

**What version of `typescript-eslint-parser` are you using?**
2.1.0

**What code were you trying to parse?**

[code]

**What did you expect to happen?**
All to be right with the world

**What happened?**
`[eslint] 'ISearchResultProps' is defined but never used. (no-unused-vars)`

[2017-04-18 16:39] mattdell opened #224 "Type declaration violates space-infix-ops rule"
**What version of TypeScript are you using?**
2.2.2

**What version of `typescript-eslint-parser` are you using?**
2.1.0

**What code were you trying to parse?**

[code]

**What did you expect to happen?**

No error

**What happened?**

`[eslint] Infix operators must be spaced. (space-infix-ops)`

Errors on
[code]

Ok with
[code]

[2017-04-18 16:41] soda0289 commented on #224
There is a fix for this here:
https://github.com/eslint/eslint/pull/8341

Just waiting for one more code review and should be good

[2017-04-18 16:46] soda0289 commented on #223
This is a known issue and has been covered in here:
https://github.com/eslint/typescript-eslint-parser/issues/77

The reason it fails is because the scope analysis tool does not traverse type annotations or decorators and will not mark these as references. I have put a proposal for a possible fix but more though needs to go into a long term solution.
https://github.com/eslint/eslint-scope/issues/3

[2017-04-18 17:39] mattdell commented on #223
Excellent response. Thank you very much.

I'll probably look into the ts plugin rule.

[2017-04-18 17:39] #223 closed

[2017-04-19 15:17] mattdell commented on #223
@soda0289, which typescript plugin?

I had thought you meant this: https://github.com/nzakas/eslint-plugin-typescript

And there is no rule there for `no-unused-vars`

[2017-04-19 15:18] soda0289 commented on #223
@mattdell The version on npm is really outdated. You need to install from the master branch.

`npm install nzakas/eslint-plugin-typescript` should do the trick

[2017-04-19 15:20] mattdell commented on #223
Ah. That makes sense. Unfortunately my work blocks us from having github dependencies as only npmjs.org goes through the proxy.

Alas, that is my problem not yours. Thanks for the suggestion. :smile:

[2017-04-19 15:29] platinumazure commented on #223
@soda0289 Do we need to publish a new release of eslint-plugin-typescript? Or does it need to be changed to align with changes made here and in eslint-scope and other areas before a release can occur?

[2017-04-19 15:34] soda0289 commented on #223
@platinumazure The eslint typescript plugin has only had one release and many rules have been added or updated since. There is nothing in the parser or eslint-scope that is blocking a release. I noticed on the npmjs page that eslint tsc members are 'Collaborators'. Does this mean they can publish a new release?

[2017-04-19 16:08] platinumazure commented on #223
@soda0289 Yes, the ESLint TSC should be able to do a release of that project, hopefully. Feel free to ask in the team Gitter chat.

[2017-04-20 13:54] mattdell opened #225 "Parsing errors on very basic JSX"
**What version of TypeScript are you using?**
2.2.2

**What version of `typescript-eslint-parser` are you using?**
2.1.0

**What code were you trying to parse?**

Component
[code]

.eslintrc.js
[code]

**What did you expect to happen?**
To parse, and then lint

**What happened?**
[code]

I've been having this issue and decided to try a very basic example and it won't even parse the file. Any ideas

[2017-04-20 13:55] mattdell commented on #225
I should add, this works fine in js and ts files.

[2017-04-20 13:58] soda0289 commented on #225
You need to enable JSX in the parser option as well. That way the typescript parser can handle JSX tags.
[code]

Do you mean it parses correctly when the file extension is .js or .ts but fails when it is .tsx?

[2017-04-20 14:04] mattdell commented on #225
@soda0289 thanks for the quick response :+1:  That was it.

Strange, as I swear this used to work.

And sorry, I meant the ts files are linted fine but the jsx files are not. In other words, it's not the file extension it's the jsx within the tsx files.

[2017-04-20 14:06] #225 closed

[2017-04-21 17:43] bluetech opened #226 "Fields with initial values in classes are reported as undefined"
**What version of TypeScript are you using?**

2.2.2

**What version of `typescript-eslint-parser` are you using?**

2.1.0

**What code were you trying to parse?**

[code]

**What did you expect to happen?**

`x` is identified as a member of `Foo`.

**What happened?**

[code]

Thanks (I hope this wasn't reported before).

BTW, here is the es5 output, for anyone not familiar with this syntax:

[cod

[2017-04-21 17:53] soda0289 commented on #226
Thanks for the report.
Unfortunately this is a known issue. Class properties are not part of the current ecma spec which means eslint, and its scoping tool eslint-scope, do not handle these nodes correctly. We are working on ways for this parser to inform the scope analysis tool how to handle typescript nodes properly and in the future hope to support all eslint rules. Check out this issue for mor

[2017-04-21 18:08] bluetech commented on #226
I understand. I already set these compiler options, so I followed your suggestion and disabled the eslint rules. I did the same with `no-fallthrough` (replaced by typescript's `noFallthroughCasesInSwitch`). The rule `no-empty` also started to fail (doesn't recognize the `// empty` comments), and has no typescript equivalent, so I disabled that one.

We can close this issue, unless you want to keep

[2017-04-21 18:12] soda0289 commented on #226
Comments should be detected properly starting in eslint v4. That was a long standing issue #5 that we recently fixed by having eslint handle comments.

If you find any other problems feel free to open a new issue.

[2017-04-21 18:12] #226 closed

[2017-04-25 15:35] mattdell opened #227 "Linting JSX const without brackets / parenthesis causes eslint to hang"
**What version of TypeScript are you using?**
2.2.1

**What version of `typescript-eslint-parser` are you using?**
2.1.0

**What code were you trying to parse?**

[code]

**What did you expect to happen?**
eslint to run successfully

**What happened?**
eslint hangs and becomes unresponsive. I've left it to run over lunch and it was still stuck.

Changing the syntax to be contained within brackets

[2017-04-25 17:17] soda0289 commented on #227
I was unable to reproduce the problem with the code sample.

Can you post your .eslintrc file maybe there is some rule causing the problem. Are you using eslint-plugin-react? I noticed a problem when enabling the jsx-indent rule from that plugin that would cause an infinite loop.

[2017-04-25 19:52] mattdell commented on #227
I'll get the eslintrc for you tomorrow.

We are running eslint-react as a result of using eslint-airbnb-config. I wonder if it's the `react/jsx-wrap-multilines` rule as that's directly related to this example.

I'm also running on a PC with very limited resources, which seems to exacerbate any inefficiencies.

[2017-04-27 13:58] mattdell commented on #227
Sorry for the delay. My .eslintrc file is...

[code]

[2017-04-27 14:03] soda0289 commented on #227
Thanks for posting the config.

Can you try to disable `react/jsx-indent` and `react/jsx-indent-props`. Does that fix the issue?

[2017-04-27 15:57] mattdell commented on #227
That does fix the issue. I updated those values to

[code]

And I now see the linter execute correctly.

[2017-04-27 16:04] soda0289 commented on #227
I will try and take look at why this happens on the weekend. We are also working on implementing JSX indentation support to eslint v4 and I don't think I have seen this problem yet using that rule.

[2017-04-29 11:33] azz opened #228 "TSAbstractMethodDefinition is not used for abstract constructors"
**What version of TypeScript are you using?**

n/a

**What version of `typescript-eslint-parser` are you using?**

`master` (post 2.1.0)

**What code were you trying to parse?**

[code]

**What did you expect to happen?**

AST for the constructor to have type `TSAbstractMethodDefinition`.

**What happened?**

AST for the constructor has type `MethodDefinition`.

[2017-04-29 12:04] JamesHenry opened #231 "TS peer dependency causing build to fail"

[2017-04-29 12:24] JamesHenry opened #232 "Support TypeScript 2.3"
TypeScript 2.3 was recently released as the latest stable version and we should look to support it as soon as possible.

On initial inspection of a broken build, it looks like JSX will be the main area of focus for changes.

[2017-04-29 12:25] azz commented on #231
Are there many TS2.3 AST changes from TS2.2?

Looks like the breaking changes docs aren't updated:
https://github.com/Microsoft/TypeScript-wiki/blob/master/API-Breaking-Changes.md

[2017-04-29 12:27] JamesHenry commented on #231
I don't know, please note anything you find on here: https://github.com/eslint/typescript-eslint-parser/issues/232

The AST does not form part of the API surface that is publicly supported, so the changes are never _directly_ in that document you referenced.

[2017-04-29 13:06] #231 closed

[2017-04-29 16:30] soda0289 commented on #232
We will also need to support async iterators as well. I think we can just use a flag on the for loop node.

[2017-04-29 16:30] soda0289 commented on #232
I can look into the JSX issues unless @azz is already working on it.

[2017-04-29 16:59] #217 closed

[2017-04-29 17:00] #228 closed

[2017-04-29 17:02] #232 closed

[2017-04-29 17:17] soda0289 opened #234 "Add support for abstract class properties"
**What version of TypeScript are you using?**
2.3

**What version of `typescript-eslint-parser` are you using?**
2.1

**What code were you trying to parse?**
[code]

**What did you expect to happen?**
Bar and baz properties should be labeled as abstract.

**What happened?**
They use the same node type as class properties

[2017-04-29 17:20] soda0289 opened #235 "Add suport for default type parameters (TS 2.3)"
**What version of TypeScript are you using?**
2.3

**What version of `typescript-eslint-parser` are you using?**
master

**What code were you trying to parse?**

[code]

**What did you expect to happen?**
I expected the AST to contain the default value for type parameter T.

**What happened?**
The default type parameter value is not saved

[2017-04-29 17:33] soda0289 opened #236 "Add support for async iterators (TS 2.3)"
**What version of TypeScript are you using?**
2.3

**What version of `typescript-eslint-parser` are you using?**
master

**What code were you trying to parse?**

[code]

**What did you expect to happen?**
Should have new property for `for await` node

**What happened?**
Node is not labeled as await loop

[2017-04-29 20:18] soda0289 commented on #201
I'm going to implement this today. I some free time

[2017-04-30 03:55] azz opened #242 "superTypeParameters is missing in the AST"
**What version of TypeScript are you using?**

2.3.2

**What version of `typescript-eslint-parser` are you using?**

`master`.

**What code were you trying to parse?**

[code]

**What did you expect to happen?**

Parse successfully, assigning to `superTypeParameters` in the AST.

**What happened?**

`superTypeParameters` is missing in AST.

[2017-04-30 11:32] #242 closed

[2017-04-30 11:35] #235 closed

[2017-04-30 11:39] #234 closed

[2017-04-30 13:38] azz opened #244 "Async function expressions are marked as not async"
**What version of TypeScript are you using?**

2.3.2

**What version of `typescript-eslint-parser` are you using?**

`master`

**What code were you trying to parse?**

[code]

**What did you expect to happen?**

`async: true` in `FunctionExpression` node.

**What happened?**

`async: false` in `FunctionExpression` node.

Regression from #229

[2017-04-30 15:20] #244 closed

[2017-05-01 10:55] #236 closed

[2017-05-01 12:30] #201 closed

[2017-05-03 12:59] JamesHenry opened #248 "ESLint 4 Alpha - Upcoming interface indent issue"
Primarily creating this as a TODO to look into before ESLint v4 hits stable. I recently updated a project to use TS2.3 and ESLint 4.0.0-alpha.1 (from TS2.2 and ESLint 3.15.0), and I started getting errors from the core `indent` rule.

It currently expects the interface members to have 0 indentation.

**What version of TypeScript are you using?**
2.3.2

**What version of ESLint are you using?**
4.0

[2017-05-03 13:03] soda0289 commented on #248
I'm working on a PR to allow for unknown nodes to be ignored:
https://github.com/eslint/eslint/pull/8504

In the future we can define some way for this parser to define indentation for all nodes it creates.

[2017-05-03 13:07] soda0289 commented on #248
We might be better off changing abstract classes to not use their own node type. Then they can be indented the same as classes and not be ignored. Do you remember why we chose to give them their own node type?

[2017-05-03 14:20] JamesHenry commented on #248
Also new issue with the above stack:

Importing and using a parameter decorator will trigger an error for `no-shadow`, as if the usage of the decorator is actually it being redeclared.

The is ubiquitous in Angular 2+.

[2017-05-03 15:54] soda0289 commented on #248
We will probably need to have a way for eslint-scope to understand decorators for this to be fixed. If I had to guess, eslint-scope thinks it is a declaration since it is an Identifier within a Function Expression params property. This could possibly be fixed if we remove the visitorFallback() from eslint-scope and instead just supplied our own visitor keys.

[2017-05-04 13:04] JamesHenry commented on #248
@soda0289 Ah so is it the eslint-scope changes that are the reason for these errors only starting in v4? That would make sense

[2017-05-04 16:29] vjeux opened #249 "Cannot read property 'expression' of undefined"
There are two tests in the typescript codebase that make typescript-eslint-parser throw:

[code]

[code]

Was found in https://github.com/prettier/prettier/issues/1480

Those are the only two crashes from typescript-eslint-parser of the entire run: https://gist.githubusercontent.com/despairblue/79e090660fbb4093b35ab3b24c617dfb/raw/99e47ad1e34c32ddd91c15315f3c4fb92fa37d65/errors

[2017-05-04 16:36] soda0289 commented on #249
Thanks for the report.

Do you have some sample code that can reproduce the problem? I'm having a hard time understanding the output you posted

[2017-05-04 16:38] vjeux commented on #249
Sorry it was confusing, those two files are triggering it:

https://github.com/Microsoft/TypeScript/blob/master/tests/cases/conformance/parser/ecmascript5/ErrorRecovery/ExtendsOrImplementsClauses/parserErrorRecovery_ExtendsOrImplementsClause3.ts
https://github.com/Microsoft/TypeScript/blob/master/tests/cases/conformance/parser/ecmascript5/ErrorRecovery/ExtendsOrImplementsClauses/parserErrorRecover

[2017-05-04 16:40] soda0289 commented on #249
@vjeux Thanks.

I did not know extend could be empty, you would think the typescript parser would complain about this. Will fix this case later today.

[2017-05-04 16:40] vjeux commented on #249
This looks like it's in "ErrorRecovery" directory, so typescript is trying to be lenient around those things.

[2017-05-04 16:41] vjeux commented on #249
The good thing is that this is the only error triggered by this project when running against all the 11k files of the typescript test suite :)

[2017-05-04 18:24] vjeux opened #250 "Decorator output is inconsistent"
In this example, the decorator is not wrapped in a `Decorator` node:

[code]

In this example, it is wrapped in a `TSDecorator` node, instead of `Decorator` node:

[code]

It would be nice if decorators arrays was always wrapped in a `Decorator` node (without `TS` prefix). This way it would work out of the box with babylon decorators.

I have a workaround in prettier, but I'd rather it be fixed in

[2017-05-04 18:27] soda0289 commented on #250
Thanks for the report.
We can make this change. We should be following the estree spec:
https://github.com/estree/estree/blob/master/experimental/decorators.md

Typescript also allows decorators on method parameters but should still be using the same node type in all cases.

[2017-05-04 18:28] vjeux commented on #250
Thanks for being super responsive!

[2017-05-04 18:34] despairblue opened #252 "`instanceof` is ignored as `BinaryExpression.operator`"
**What version of TypeScript are you using?**
2.3.1

**What version of `typescript-eslint-parser` are you using?**
master

**What code were you trying to parse?**

[code]

**What did you expect to happen?**
I expected the node to have a `operator` property with the value of `instanceof`

**What happened?**
The property is `undefined`.

PR: https://github.com/eslint/typescript-eslint-parser/pull/25

[2017-05-04 22:14] #252 closed

[2017-05-04 22:25] JamesHenry commented on #250
Nice to see you over this side @vjeux 😉

Just FYI ```@dec enum E {}``` is semantically invalid TypeScript, there are currently no examples of decorators outside of a `class` context in TS. But regardless, I agree that the AST should be consistent, even when the semantics are incorrect. The raw TypeScript AST definitely is in this case.

I'll submit a PR for this tomorrow.